cafr/src/main/xsd/cafr/cafr.001.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.19) on 2023 Jan 04 10:33:20, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cafr.001.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cafr.001.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee2">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount21Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeePrgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeDscrptr" type="Max35Text"/>
            <xs:element name="FeeAmt" type="FeeAmount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeRcncltnAmt" type="FeeAmount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalInformation22">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcpt" type="PartyType19Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Trgt" type="UserInterface8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="OutputFormat4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Val" type="Max20KText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine1" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine2" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine1" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrLine2" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max200Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm23Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
            <xs:enumeration value="EA2R"/>
            <xs:enumeration value="EA9R"/>
            <xs:enumeration value="EA5R"/>
            <xs:enumeration value="E3DR"/>
            <xs:enumeration value="E36C"/>
            <xs:enumeration value="E36R"/>
            <xs:enumeration value="SD5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification25">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm23Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification26">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification27">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification28">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationMethod12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APKI"/>
            <xs:enumeration value="ADVF"/>
            <xs:enumeration value="ARNB"/>
            <xs:enumeration value="ARPC"/>
            <xs:enumeration value="ARQC"/>
            <xs:enumeration value="ATCC"/>
            <xs:enumeration value="BTHD"/>
            <xs:enumeration value="CHSA"/>
            <xs:enumeration value="CHDN"/>
            <xs:enumeration value="CUID"/>
            <xs:enumeration value="DRVI"/>
            <xs:enumeration value="DRLN"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="EMIN"/>
            <xs:enumeration value="EMRN"/>
            <xs:enumeration value="IDCN"/>
            <xs:enumeration value="MANU"/>
            <xs:enumeration value="NVSC"/>
            <xs:enumeration value="FBIG"/>
            <xs:enumeration value="FBIO"/>
            <xs:enumeration value="OLDA"/>
            <xs:enumeration value="OLDS"/>
            <xs:enumeration value="OFPE"/>
            <xs:enumeration value="FCPN"/>
            <xs:enumeration value="OTPW"/>
            <xs:enumeration value="NBIG"/>
            <xs:enumeration value="NPIN"/>
            <xs:enumeration value="OCHI"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="PPSG"/>
            <xs:enumeration value="PSVE"/>
            <xs:enumeration value="PASN"/>
            <xs:enumeration value="PSWD"/>
            <xs:enumeration value="TOKP"/>
            <xs:enumeration value="PKIS"/>
            <xs:enumeration value="PLOB"/>
            <xs:enumeration value="PCDV"/>
            <xs:enumeration value="SCRT"/>
            <xs:enumeration value="SCNL"/>
            <xs:enumeration value="CSEC"/>
            <xs:enumeration value="SHAF"/>
            <xs:enumeration value="SHAT"/>
            <xs:enumeration value="CPSG"/>
            <xs:enumeration value="SSNB"/>
            <xs:enumeration value="TXIN"/>
            <xs:enumeration value="TOKA"/>
            <xs:enumeration value="CDHI"/>
            <xs:enumeration value="TOKN"/>
            <xs:enumeration value="QWAC"/>
            <xs:enumeration value="PHOM"/>
            <xs:enumeration value="PWOR"/>
            <xs:enumeration value="THDS"/>
            <xs:enumeration value="ADDB"/>
            <xs:enumeration value="ADDS"/>
            <xs:enumeration value="CSCV"/>
            <xs:enumeration value="CRYP"/>
            <xs:enumeration value="BIOM"/>
            <xs:enumeration value="MOBL"/>
            <xs:enumeration value="FPIN"/>
            <xs:enumeration value="NTID"/>
            <xs:enumeration value="ACSN"/>
            <xs:enumeration value="CHSN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthorisationStatus1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnNtty" type="PartyType26Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAuthstnNtty" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Authority1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnr" type="ISOCountrySubDivisionCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMjrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsnMnrNm" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max50Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaseOne25Rate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BatchManagementInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardData8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PAN" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdPANInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtAcctRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANRefIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PANAcctRg" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardCtryCd" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctSubTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPrtflIdr" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlCardData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardNotReceivedDetails2">
        <xs:sequence>
            <xs:element name="DtOfCardMld" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MlngAdr" type="Address2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MlngAdrUstrd" type="Max256Text"/>
            <xs:element name="MldFrPstlCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldFr" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSctyCdInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardSctyCpblty" type="CardSecurityCapability1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardProgrammeMode3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardSecurityCapability1">
        <xs:sequence>
            <xs:element name="Cpblty" type="CardSecurityCapability1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCpblty" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardSecurityCapability1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICCD"/>
            <xs:enumeration value="MWOS"/>
            <xs:enumeration value="MSWS"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="OLPN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Cardholder19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrNm" type="CardholderName3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Id" type="Credentials2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctInf" type="Contact1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfBirth" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HghValCstmrInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardholderName2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardholderName3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LastNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contact1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HomePhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizPhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobPhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnlEmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizEmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrEmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lang" type="ISO2ALanguageCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType20">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ContentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="IFSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Context17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCntxt" type="TransactionContext10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Credentials2">
        <xs:sequence>
            <xs:element name="IdCd" type="Identification3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrIdCd" type="Max35Text"/>
            <xs:element name="IdVal" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IdXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AssgnrAuthrty" type="Authority1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DisputeData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntmntCycl" type="Exact1NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DsptCond" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DsptRef" type="DisputeReference1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisputeIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Id" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisputeReference1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AssgnrNtty" type="PartyType32Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAssgnrNtty" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DsptId" type="DisputeIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FrdRptgInitn" type="FraudReportingInitiationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent5">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification25"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdDataFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData1Choice">
        <xs:choice>
            <xs:element name="BinryData" type="Max100KBinary"/>
            <xs:element name="HexBinryVal" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="ExternalEncryptedElementIdentification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="Max35Text"/>
            <xs:element name="NcrptdData" type="EncryptedData1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtDataFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtDataFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncryptionFormat3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR34"/>
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="CTCE"/>
            <xs:enumeration value="CBCE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Environment28">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Card" type="CardData8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tkn" type="Token2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Crdhldr" type="Cardholder19"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEncryptedElementIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FeeAmount3">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsTm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FraudCaseDetails1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MktSgmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LctrNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CaseRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ArrstInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FraudReportingAction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DUPL"/>
            <xs:enumeration value="CLSE"/>
            <xs:enumeration value="NEWF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="REOP"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FraudReportingInitiation2">
        <xs:sequence>
            <xs:element name="Envt" type="Environment28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntxt" type="Context17"/>
            <xs:element name="Tx" type="Transaction130"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="ProtectedData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FraudReportingInitiationV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header66"/>
            <xs:element name="Body" type="FraudReportingInitiation2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FraudType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTO"/>
            <xs:enumeration value="CWUI"/>
            <xs:enumeration value="CRNT"/>
            <xs:enumeration value="FRAC"/>
            <xs:enumeration value="FRAP"/>
            <xs:enumeration value="CWKA"/>
            <xs:enumeration value="CRDL"/>
            <xs:enumeration value="MISC"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="CRDS"/>
            <xs:enumeration value="CNPA"/>
            <xs:enumeration value="MUFD"/>
            <xs:enumeration value="COSN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FraudulentTransactionData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthstnSts" type="AuthorisationStatus1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DsptDtls" type="DisputeData2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgRsn" type="ISO8583MessageReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrnMsgRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrdlntMsg" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification183">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header66">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction29Code"/>
            <xs:element name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchMgmtInf" type="BatchManagementInformation1"/>
            <xs:element name="InitgPty" type="GenericIdentification183"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification183"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TracData" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583MessageReasonCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOCountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ACountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="Identification3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRID"/>
            <xs:enumeration value="NTID"/>
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="SSYN"/>
            <xs:enumeration value="ARNB"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="PHNB"/>
            <xs:enumeration value="CUID"/>
            <xs:enumeration value="TXID"/>
            <xs:enumeration value="PRXY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Jurisdiction2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstQlfctn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier6"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier6">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification27"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData1">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData6">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MlngAdr" type="Address3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MlngAdrUstrd" type="Max512Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MldFrPstlCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrNm" type="CardholderName2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData7">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrNm" type="CardholderName2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Address3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max19NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,19}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max200Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20KText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max512Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADVC"/>
            <xs:enumeration value="NOTI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OutputFormat4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLNM"/>
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SMSI"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="URLI"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm20Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification263">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType19Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType26Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ICCA"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="ISUR"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Priority3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="URGT"/>
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProtectedData1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdData" type="EncryptedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProtectionMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SELM"/>
            <xs:enumeration value="SNCL"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="TEEN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient7Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport6"/>
            <xs:element name="KEK" type="KEK6"/>
            <xs:element name="KeyIdr" type="KEKIdentifier6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Reconciliation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportedFraud3">
        <xs:sequence>
            <xs:element name="FrdTp" type="FraudType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrFrdTp" type="Max35Text"/>
            <xs:element name="FrdRptgActn" type="FraudReportingAction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrFrdRptgActn" type="Max35Text"/>
            <xs:element name="RptgNtty" type="PartyType26Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRptgNtty" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CmprmsdCrdntl" type="AuthenticationMethod12Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrRptgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfRptgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitrCaseRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrdCaseDtls" type="FraudCaseDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrdInvstgtnSts" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementReportingEntity1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementService4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvcApld" type="SettlementServiceMode1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvcDts" type="SettlementServiceDate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmRptgNtty" type="SettlementReportingEntity1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlSttlmInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementServiceDate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdSttlmInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCutOffTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementServiceMode1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrty" type="Priority3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StorageLocation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAWL"/>
            <xs:enumeration value="DVCE"/>
            <xs:enumeration value="ISWL"/>
            <xs:enumeration value="ONFL"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="TPWL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Token2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTkn" type="Max19NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknXpryDt" type="ISOYearMonth"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknRqstrId" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncData" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknAssrncMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TknInittdInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StorgLctn" type="StorageLocation1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrStorgLctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcnMtd" type="ProtectionMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPrtcnMtd" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability9">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification183"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmIn" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction130">
        <xs:sequence>
            <xs:element name="FrdTxId" type="Max70Text"/>
            <xs:element name="RptdFrd" type="ReportedFraud3"/>
            <xs:element name="FrdlntTxData" type="FraudulentTransactionData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CardNotRcvdDtls" type="CardNotReceivedDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrNm" type="CardholderName3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFee" type="AdditionalFee2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionContext10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPrgrmmApld" type="CardProgrammeMode3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Jursdctn" type="Jurisdiction2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount21Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTC"/>
            <xs:enumeration value="FEEP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="FEEA"/>
            <xs:enumeration value="CSIF"/>
            <xs:enumeration value="MXIF"/>
            <xs:enumeration value="MNIF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserInterface8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DSPU"/>
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="LOGF"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="OTHN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
