fxtr/src/main/xsd/fxtr/fxtr.030.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.22) on 2023 Feb 06 15:22:36, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.030.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.030.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AllocationIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POST"/>
            <xs:enumeration value="PREA"/>
            <xs:enumeration value="UNAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountOrRate4Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Rate" type="BaseOneRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingBrokerIdentification1">
        <xs:sequence>
            <xs:element name="SdInd" type="SideIndicator1Code"/>
            <xs:element name="ClrBrkrId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL"/>
            <xs:enumeration value="ONEW"/>
            <xs:enumeration value="PART"/>
            <xs:enumeration value="UNCO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateSectorIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="L"/>
            <xs:enumeration value="A"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="I"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="O"/>
            <xs:enumeration value="R"/>
            <xs:enumeration value="U"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CounterpartySideTransactionReporting2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgJursdctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPty" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtySdUnqTxIdr" type="UniqueTransactionIdentifier2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradBlkStsNtfctn" type="ForeignExchangeTradeBulkStatusNotificationV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact42Text">
        <xs:restriction base="xs:string">
            <xs:length value="42"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FXAmountType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="FXAmountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FXAmountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ZWIS"/>
            <xs:enumeration value="WITH"/>
            <xs:enumeration value="VATA"/>
            <xs:enumeration value="TRAN"/>
            <xs:enumeration value="TRAX"/>
            <xs:enumeration value="STEX"/>
            <xs:enumeration value="STAM"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="COUN"/>
            <xs:enumeration value="LOCL"/>
            <xs:enumeration value="LOCO"/>
            <xs:enumeration value="LYDT"/>
            <xs:enumeration value="LOTE"/>
            <xs:enumeration value="LIDT"/>
            <xs:enumeration value="EXEC"/>
            <xs:enumeration value="EUTR"/>
            <xs:enumeration value="EQUL"/>
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="AKTI"/>
            <xs:enumeration value="ERFE"/>
            <xs:enumeration value="ENTF"/>
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="MACO"/>
            <xs:enumeration value="ANTO"/>
            <xs:enumeration value="CREB"/>
            <xs:enumeration value="SPCN"/>
            <xs:enumeration value="SUBS"/>
            <xs:enumeration value="TOTL"/>
            <xs:enumeration value="DEAL"/>
            <xs:enumeration value="ACRU"/>
            <xs:enumeration value="BAKL"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="CBCH"/>
            <xs:enumeration value="LADT"/>
            <xs:enumeration value="DSCA"/>
            <xs:enumeration value="HDGE"/>
            <xs:enumeration value="ISDI"/>
            <xs:enumeration value="LEVY"/>
            <xs:enumeration value="OCMT"/>
            <xs:enumeration value="PRMA"/>
            <xs:enumeration value="OTMG"/>
            <xs:enumeration value="REGF"/>
            <xs:enumeration value="REMU"/>
            <xs:enumeration value="RESU"/>
            <xs:enumeration value="SAMG"/>
            <xs:enumeration value="SETT"/>
            <xs:enumeration value="SHIP"/>
            <xs:enumeration value="ACCA"/>
            <xs:enumeration value="PRDF"/>
            <xs:enumeration value="REFD"/>
            <xs:enumeration value="PRWI"/>
            <xs:enumeration value="RSCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FXCommissionOrFee1">
        <xs:sequence>
            <xs:element name="Tp" type="FXAmountType1Choice"/>
            <xs:element name="AmtOrRate" type="AmountOrRate4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTradeBulkStatusNotificationV05">
        <xs:sequence>
            <xs:element name="StsDtls" type="TradeData12"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TradData" type="TradeData40"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max10Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification242Choice">
        <xs:choice>
            <xs:element name="NmAndAdr" type="NameAndAddress8"/>
            <xs:element name="AnyBIC" type="PartyIdentification265"/>
            <xs:element name="PtyId" type="PartyIdentification266"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification265">
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification266">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyNm" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="PartyIdentification265"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNb" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglNttyIdr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryReporting7">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradgSdTxRptg" type="TradingSideTransactionReporting2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtySdTxRptg" type="CounterpartySideTransactionReporting2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CntrlCtrPtyClrHs" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrBrkr" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrXcptnPty" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrBrkrId" type="ClearingBrokerIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshldInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrdPdctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygPdctIdr" type="UnderlyingProductIdentifier1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AllcnInd" type="AllocationIndicator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollstnInd" type="CollateralisationIndicator1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnVn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnTmstmp" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonStdFlg" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSwpId" type="Exact42Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinNtrOfTheCtrPtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflCd" type="Max10Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflCmprssnInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpSctrInd" type="CorporateSectorIdentifier1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradWthNonEEACtrPtyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtrgrpTradInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ComrclOrTrsrFincgInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfDtAndTmstmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrTmstmp" type="ISOTime"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ComssnsAndFees" type="FXCommissionOrFee1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRptgInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SideIndicator1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCPL"/>
            <xs:enumeration value="CLNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Status27Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeStatus6Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Status28Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeStatus7Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatusAndSubStatus2">
        <xs:sequence>
            <xs:element name="StsCd" type="Status27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubStsCd" type="Exact4AlphaNumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatusSubType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SMDY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData12">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrgtr" type="Max35Text"/>
            <xs:element name="CurSts" type="StatusAndSubStatus2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsSubTp" type="StatusSubType2Code"/>
            <xs:element name="CurStsDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsSts" type="Status28Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsSubTp" type="StatusSubType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LkdRptId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData40">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtrRef" type="Max35Text"/>
            <xs:element name="MtchgSysUnqRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSysMtchgRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSysMtchdSdRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RgltryRptg" type="RegulatoryReporting7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeStatus6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="FMTC"/>
            <xs:enumeration value="SMAP"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="RSCD"/>
            <xs:enumeration value="STLD"/>
            <xs:enumeration value="SPLI"/>
            <xs:enumeration value="UMTC"/>
            <xs:enumeration value="SMAT"/>
            <xs:enumeration value="FUMT"/>
            <xs:enumeration value="NETT"/>
            <xs:enumeration value="PFIX"/>
            <xs:enumeration value="OMTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeStatus7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="UMTC"/>
            <xs:enumeration value="FMTC"/>
            <xs:enumeration value="SMAT"/>
            <xs:enumeration value="SUSP"/>
            <xs:enumeration value="SMAP"/>
            <xs:enumeration value="PFIX"/>
            <xs:enumeration value="FUMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingSideTransactionReporting2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgJursdctn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPty" type="PartyIdentification242Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradgSdUnqTxIdr" type="UniqueTransactionIdentifier2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnderlyingProductIdentifier1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="NDFO"/>
            <xs:enumeration value="SPOT"/>
            <xs:enumeration value="SWAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier2">
        <xs:sequence>
            <xs:element name="UnqTxIdr" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrrUnqTxIdr" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
