modules/casr/src/main/xsd/casr/casr.002.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.19) on 2023 Jan 04 10:33:20, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:casr.002.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:casr.002.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max2048Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalFee2">
        <xs:sequence>
            <xs:element name="Tp" type="TypeOfAmount21Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeePrgm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeDscrptr" type="Max35Text"/>
            <xs:element name="FeeAmt" type="FeeAmount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FeeRcncltnAmt" type="FeeAmount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalInformation29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcpt" type="PartyType22Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRcpt" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Trgt" type="UserInterface6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTrgt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="OutputFormat4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrFrmt" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element name="Val" type="Max20KText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="DKP9"/>
            <xs:enumeration value="UKPT"/>
            <xs:enumeration value="UKA1"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm23Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C"/>
            <xs:enumeration value="E3DC"/>
            <xs:enumeration value="EA9C"/>
            <xs:enumeration value="EA5C"/>
            <xs:enumeration value="EA2R"/>
            <xs:enumeration value="EA9R"/>
            <xs:enumeration value="EA5R"/>
            <xs:enumeration value="E3DR"/>
            <xs:enumeration value="E36C"/>
            <xs:enumeration value="E36R"/>
            <xs:enumeration value="SD5C"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA"/>
            <xs:enumeration value="RSAO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification25">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm23Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification26">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Algorithm5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification27">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification28">
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApprovalEntity2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="PartyType26Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="OATT"/>
            <xs:enumeration value="OUAT"/>
            <xs:enumeration value="CATT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOne25Rate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BatchManagementInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ColltnId" type="Max35Text"/>
            <xs:element name="BtchId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgSeqNb" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgChcksmInptVal" type="Max140Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BytePadding1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LNGT"/>
            <xs:enumeration value="NUL8"/>
            <xs:enumeration value="NULG"/>
            <xs:enumeration value="NULL"/>
            <xs:enumeration value="RAND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardProgrammeMode3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType20">
        <xs:sequence>
            <xs:element name="MACData" type="MACData1"/>
            <xs:element name="MAC" type="Max8HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="SIGN"/>
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="DGST"/>
            <xs:enumeration value="AUTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ContentType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EVLP"/>
            <xs:enumeration value="IFSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Context17">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxCntxt" type="TransactionContext10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebit3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SttlmRptgRspn" type="SettlementReportingResponseV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent5">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType2Code"/>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification25"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdDataFrmt" type="Max2NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NcrptdDataElmt" type="EncryptedDataElement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedData1Choice">
        <xs:choice>
            <xs:element name="BinryData" type="Max100KBinary"/>
            <xs:element name="HexBinryVal" type="Max9999HexBinaryText"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EncryptedDataElement1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="ExternalEncryptedElementIdentification1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="Max35Text"/>
            <xs:element name="NcrptdData" type="EncryptedData1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClearTxtDataFrmt" type="EncryptedDataFormat1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrClearTxtDataFrmt" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EncryptedDataFormat1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCI"/>
            <xs:enumeration value="BINF"/>
            <xs:enumeration value="EBCD"/>
            <xs:enumeration value="HEXF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncryptionFormat3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TR34"/>
            <xs:enumeration value="TR31"/>
            <xs:enumeration value="CTCE"/>
            <xs:enumeration value="CBCE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EnvelopedData6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdCntt" type="EncryptedContent5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Environment27">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmInstn" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Orgtr" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sndr" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcvr" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dstn" type="PartyIdentification263"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FI" type="FinancialInstitution6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrInstn" type="PartyIdentification258"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorDetails2">
        <xs:sequence>
            <xs:element name="MsgErrTp" type="MessageError1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMsgErrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ErrCd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ErrDesc" type="Max500Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DataElmtInErr" type="Max4000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact12Text">
        <xs:restriction base="xs:string">
            <xs:length value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact15Text">
        <xs:restriction base="xs:string">
            <xs:length value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact1HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact6AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9\s]{6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalEncryptedElementIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FeeAmount3">
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbt" type="CreditDebit3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ISO3NumericCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvXchgRate" type="BaseOne25Rate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConvsTm" type="ISOTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitution6">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification258"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNb" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification183">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType17Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="PartyType18Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISOMax3ACountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header66">
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction29Code"/>
            <xs:element name="PrtcolVrsn" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReTrnsmssnCntr" type="Max3NumericText"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BtchMgmtInf" type="BatchManagementInformation1"/>
            <xs:element name="InitgPty" type="GenericIdentification183"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification183"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TracData" type="AdditionalData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO3NumericCountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO3NumericCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO8583ResponseCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ACountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOMax3ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1"/>
            <xs:element name="SrlNb" type="Max35Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Jurisdiction2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DmstQlfctn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="KEKId" type="KEKIdentifier6"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification28"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdKey" type="Max500Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier2">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier6">
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyVrsn" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SeqNb" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element name="RcptId" type="Recipient5Choice"/>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification27"/>
            <xs:element name="NcrptdKey" type="Max5000Binary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalData1">
        <xs:sequence>
            <xs:element name="Lang" type="ISOMax3ALanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max210Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MACData1">
        <xs:sequence>
            <xs:element name="Ctrl" type="Exact1HexBinaryText"/>
            <xs:element name="KeySetIdr" type="Max8NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrvdInf" type="Max32HexBinaryText"/>
            <xs:element name="Algo" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyLngth" type="Max4NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyPrtcn" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyIndx" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PddgMtd" type="Max2NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max32HexBinaryText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max11NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max12NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20KText">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max32HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9999HexBinaryText">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9A-F][0-9A-F]){1,9999}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max99Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="99"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageError1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IDEF"/>
            <xs:enumeration value="IDEL"/>
            <xs:enumeration value="IDEV"/>
            <xs:enumeration value="INME"/>
            <xs:enumeration value="INMF"/>
            <xs:enumeration value="MEPE"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="PRVE"/>
            <xs:enumeration value="RDEM"/>
            <xs:enumeration value="SECU"/>
            <xs:enumeration value="UDFD"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="ITDE"/>
            <xs:enumeration value="DUME"/>
            <xs:enumeration value="IDWM"/>
            <xs:enumeration value="IDRM"/>
            <xs:enumeration value="IBAT"/>
            <xs:enumeration value="ICOL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADVC"/>
            <xs:enumeration value="NOTI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OutputFormat4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLNM"/>
            <xs:enumeration value="MREF"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="SMSI"/>
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="URLI"/>
            <xs:enumeration value="HTML"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm20Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification26"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptnFrmt" type="EncryptionFormat3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BPddg" type="BytePadding1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification258">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification263">
        <xs:sequence>
            <xs:element name="Id" type="Max11NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Assgnr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="ISO3NumericCountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCorpNm" type="Max99Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlId" type="AdditionalData1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclData" type="LocalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType17Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType22Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDH"/>
            <xs:enumeration value="MERC"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="AGNT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType26Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP"/>
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ICCA"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="DLIS"/>
            <xs:enumeration value="AGNT"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACQR"/>
            <xs:enumeration value="ACQP"/>
            <xs:enumeration value="CISS"/>
            <xs:enumeration value="CISP"/>
            <xs:enumeration value="CSCH"/>
            <xs:enumeration value="SCHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Priority3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="URGT"/>
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingResult13">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnSrc" type="ApprovalEntity2"/>
            <xs:element name="RsltData" type="ResultData8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvlCd" type="Exact6AlphaNumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ErrDtl" type="ErrorDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRsltData" type="ResultData7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="AdditionalInformation29"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProtectedData1">
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcrptdData" type="EncryptedData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient5Choice">
        <xs:choice>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1"/>
            <xs:element name="KeyIdr" type="KEKIdentifier2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Recipient7Choice">
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport6"/>
            <xs:element name="KEK" type="KEK6"/>
            <xs:element name="KeyIdr" type="KEKIdentifier6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Reconciliation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChckptRef" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code"/>
            <xs:element name="AttrVal" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="PPRC"/>
            <xs:enumeration value="PRCS"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="TECH"/>
            <xs:enumeration value="UNRV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Response8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRCS"/>
            <xs:enumeration value="UNPR"/>
            <xs:enumeration value="UNRV"/>
            <xs:enumeration value="REJT"/>
            <xs:enumeration value="TECH"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResultData7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Response8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRslt" type="Max35Text"/>
            <xs:element name="RsltDtls" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRsltDtls" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TempScrCardDataReusePrtd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRsltInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResultData8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rslt" type="Response6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRslt" type="Max35Text"/>
            <xs:element name="RsltDtls" type="ISO8583ResponseCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrRsltDtls" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlRsltInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementReportingEntity1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementReportingResponse2">
        <xs:sequence>
            <xs:element name="Envt" type="Environment27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntxt" type="Context17"/>
            <xs:element name="Tx" type="Transaction139"/>
            <xs:element name="PrcgRslt" type="ProcessingResult13"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtctdData" type="ProtectedData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementReportingResponseV02">
        <xs:sequence>
            <xs:element name="Hdr" type="Header66"/>
            <xs:element name="Body" type="SettlementReportingResponse2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyTrlr" type="ContentInformationType20"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementService4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvcApld" type="SettlementServiceMode1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvcDts" type="SettlementServiceDate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmRptgNtty" type="SettlementReportingEntity1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlSttlmInf" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementServiceDate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdSttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DfrrdSttlmInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTm" type="ISOTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrd" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCutOffTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementServiceMode1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPrty" type="Priority3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability9">
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification183"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmIn" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TracDtTmOut" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction139">
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentification12"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlFee" type="AdditionalFee2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDesc" type="Max1000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionContext10">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPrgrmmApld" type="CardProgrammeMode3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Jursdctn" type="Jurisdiction2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSvc" type="SettlementService4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcncltn" type="Reconciliation3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlData" type="AdditionalData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentification12">
        <xs:sequence>
            <xs:element name="SysTracAudtNb" type="Max12NumericText"/>
            <xs:element name="TrnsmssnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrvlRefNb" type="Exact12Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LifeCyclTracIdData" type="TransactionLifeCycleIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionLifeCycleIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Exact15Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount21Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INTC"/>
            <xs:enumeration value="FEEP"/>
            <xs:enumeration value="OTHN"/>
            <xs:enumeration value="OTHP"/>
            <xs:enumeration value="FEEA"/>
            <xs:enumeration value="CSIF"/>
            <xs:enumeration value="MXIF"/>
            <xs:enumeration value="MNIF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserInterface6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CDSP"/>
            <xs:enumeration value="CRCP"/>
            <xs:enumeration value="MDSP"/>
            <xs:enumeration value="MRCP"/>
            <xs:enumeration value="CRDO"/>
            <xs:enumeration value="FILE"/>
            <xs:enumeration value="CHAP"/>
            <xs:enumeration value="MRAP"/>
            <xs:enumeration value="MRIN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
