auth/src/main/xsd/auth/auth.092.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.22) on 2023 Aug 28 16:30:51, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.092.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.092.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AgreementType2Choice">
        <xs:choice>
            <xs:element name="Tp" type="ExternalAgreementType1Code"/>
            <xs:element name="Prtry" type="Max50Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralPortfolioCode5Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioCode3Choice"/>
            <xs:element name="MrgnPrtflCd" type="MarginPortfolio3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CounterpartyData92">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptSubmitgNtty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DerivativeEventType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALOC"/>
            <xs:enumeration value="CLRG"/>
            <xs:enumeration value="CLAL"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="ETRM"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="INCP"/>
            <xs:enumeration value="NOVA"/>
            <xs:enumeration value="PTNG"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativesTradeRejectionStatisticalReportV04">
        <xs:sequence>
            <xs:element name="RjctnSttstcs" type="StatisticsPerCounterparty18Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedReportStatistics7">
        <xs:sequence>
            <xs:element name="TtlNbOfRpts" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfRptsAccptd" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfRptsRjctd" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NbOfRptsRjctdPerErr" type="NumberOfTransactionsPerValidationRule6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedStatisticsPerCounterparty19">
        <xs:sequence>
            <xs:element name="RefDt" type="ISODate"/>
            <xs:element name="TtlNbOfRpts" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfRptsAccptd" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfRptsRjctd" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfTxs" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfTxsAccptd" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfTxsRjctd" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCrrctdRjctns" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RjctnSttstcs" type="RejectionStatistics9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics30">
        <xs:sequence>
            <xs:element name="TtlNbOfTxs" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfTxsAccptd" type="Max20PositiveNumber"/>
            <xs:element name="TtlNbOfTxsRjctd" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlCrrctdRjctns" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxsRjctnsRsn" type="RejectionReason71"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics7Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="DtldSttstcs" type="DetailedTransactionStatistics30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradRjctnSttstclRpt" type="DerivativesTradeRejectionStatisticalReportV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAgreementType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalValidationRuleIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericValidationRuleIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="ValidationRuleSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginPortfolio3">
        <xs:sequence>
            <xs:element name="InitlMrgnPrtflCd" type="PortfolioCode5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPrtflCd" type="PortfolioCode5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MasterAgreement8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="AgreementType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMstrAgrmtDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="NaturalPersonIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotApplicable1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberOfTransactionsPerValidationRule6">
        <xs:sequence>
            <xs:element name="DtldNb" type="Max15NumericText"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RptSts" type="RejectionReason70"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification15Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice">
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioCode3Choice">
        <xs:choice>
            <xs:element name="Cd" type="Max52Text"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioCode5Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioIdentification3"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioIdentification3">
        <xs:sequence>
            <xs:element name="Cd" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflTxXmptn" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason70">
        <xs:sequence>
            <xs:element name="MsgRptId" type="Max140Text"/>
            <xs:element name="Sts" type="ReportingMessageStatus2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtldVldtnRule" type="GenericValidationRuleIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason71">
        <xs:sequence>
            <xs:element name="TxId" type="TradeTransactionIdentification24"/>
            <xs:element name="Sts" type="ReportingMessageStatus2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DtldVldtnRule" type="GenericValidationRuleIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionStatistics9">
        <xs:sequence>
            <xs:element name="CtrPtyId" type="CounterpartyData92"/>
            <xs:element name="RptSttstcs" type="DetailedReportStatistics7"/>
            <xs:element name="DerivSttstcs" type="DetailedTransactionStatistics7Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportingMessageStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPT"/>
            <xs:enumeration value="RJCT"/>
            <xs:enumeration value="INCF"/>
            <xs:enumeration value="CRPT"/>
            <xs:enumeration value="NAUT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatisticsPerCounterparty18Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="Rpt" type="DetailedStatisticsPerCounterparty19"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionIdentification24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnTp" type="TransactionOperationType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgTmStmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivEvtTp" type="DerivativeEventType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivEvtTmStmp" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCtrPty" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqIdr" type="UniqueTransactionIdentifier2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflCd" type="CollateralPortfolioCode5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="EROR"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="POSC"/>
            <xs:enumeration value="REVI"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="VALU"/>
            <xs:enumeration value="MARU"/>
            <xs:enumeration value="PRTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UTIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18}[0-9]{2}[A-Z0-9]{0,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier2Choice">
        <xs:choice>
            <xs:element name="UnqTxIdr" type="UTIIdentifier"/>
            <xs:element name="Prtry" type="GenericIdentification175"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ValidationRuleSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalValidationRuleIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
