auth/src/main/xsd/auth/auth.106.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.21) on 2022 Dec 20 15:37:52, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.106.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.106.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AbnormalValuesData4">
        <xs:sequence>
            <xs:element name="CtrPtyId" type="CounterpartyData92"/>
            <xs:element name="NbOfDerivsRptd" type="Number"/>
            <xs:element name="NbOfDerivsRptdWthOtlrs" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxDtls" type="AbnormalValuesTransactionData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AbnormalValuesTransactionData2">
        <xs:sequence>
            <xs:element name="TxId" type="TradeTransactionIdentification24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlAmt" type="NotionalAmountLegs5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlQty" type="NotionalQuantityLegs5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd19DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="25"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd19DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd19DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreementType2Choice">
        <xs:choice>
            <xs:element name="Tp" type="ExternalAgreementType1Code"/>
            <xs:element name="Prtry" type="Max50Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection106">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralPortfolioCode5Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioCode3Choice"/>
            <xs:element name="MrgnPrtflCd" type="MarginPortfolio3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CounterpartyData92">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCtrPty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptSubmitgNtty" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime2Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DerivativeEventType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALOC"/>
            <xs:enumeration value="CLRG"/>
            <xs:enumeration value="CLAL"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="ETRM"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="INCP"/>
            <xs:enumeration value="NOVA"/>
            <xs:enumeration value="PTNG"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativesTradeWarningsReportV01">
        <xs:sequence>
            <xs:element name="WrnngsSttstcs" type="StatisticsPerCounterparty16Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedAbnormalValuesStatistics4Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="Rpt" type="DetailedTransactionStatistics28"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DetailedMissingMarginInformationStatistics4Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="Rpt" type="DetailedTransactionStatistics26"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DetailedMissingValuationsStatistics4Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="Rpt" type="DetailedTransactionStatistics27"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DetailedStatisticsPerCounterparty17">
        <xs:sequence>
            <xs:element name="RefDt" type="ISODate"/>
            <xs:element name="MssngValtn" type="DetailedMissingValuationsStatistics4Choice"/>
            <xs:element name="MssngMrgnInf" type="DetailedMissingMarginInformationStatistics4Choice"/>
            <xs:element name="AbnrmlVals" type="DetailedAbnormalValuesStatistics4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics26">
        <xs:sequence>
            <xs:element name="NbOfOutsdngDerivs" type="Number"/>
            <xs:element name="NbOfOutsdngDerivsWthNoMrgnInf" type="Number"/>
            <xs:element name="NbOfOutsdngDerivsWthOutdtdMrgnInf" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Wrnngs" type="MissingMarginData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics27">
        <xs:sequence>
            <xs:element name="NbOfOutsdngDerivs" type="Number"/>
            <xs:element name="NbOfOutsdngDerivsWthNoValtn" type="Number"/>
            <xs:element name="NbOfOutsdngDerivsWthOutdtdValtn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Wrnngs" type="MissingValuationsData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DetailedTransactionStatistics28">
        <xs:sequence>
            <xs:element name="NbOfDerivsRptd" type="Number"/>
            <xs:element name="NbOfDerivsRptdWthOtlrs" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Wrnngs" type="AbnormalValuesData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradWrnngsRpt" type="DerivativesTradeWarningsReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAgreementType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalUnitOfMeasure1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Frequency19Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="QURT"/>
            <xs:enumeration value="HOUL"/>
            <xs:enumeration value="ODMD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LongFraction19DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarginPortfolio3">
        <xs:sequence>
            <xs:element name="InitlMrgnPrtflCd" type="PortfolioCode5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPrtflCd" type="PortfolioCode5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MasterAgreement8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="AgreementType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMstrAgrmtDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MissingMarginData2">
        <xs:sequence>
            <xs:element name="CtrPtyId" type="CounterpartyData92"/>
            <xs:element name="NbOfOutsdngDerivs" type="Number"/>
            <xs:element name="NbOfOutsdngDerivsWthNoMrgnInf" type="Number"/>
            <xs:element name="NbOfOutsdngDerivsWthOutdtdMrgnInf" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxDtls" type="MissingMarginTransactionData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MissingMarginTransactionData2">
        <xs:sequence>
            <xs:element name="TxId" type="TradeTransactionIdentification24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollTmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MissingValuationsData2">
        <xs:sequence>
            <xs:element name="CtrPtyId" type="CounterpartyData92"/>
            <xs:element name="NbOfOutsdngDerivs" type="Number"/>
            <xs:element name="NbOfOutsdngDerivsWthNoValtn" type="Number"/>
            <xs:element name="NbOfOutsdngDerivsWthOutdtdValtn" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxDtls" type="MissingValuationsTransactionData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MissingValuationsTransactionData2">
        <xs:sequence>
            <xs:element name="TxId" type="TradeTransactionIdentification24"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnAmt" type="AmountAndDirection106"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnTmStmp" type="DateAndDateTime2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="NaturalPersonIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotApplicable1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NotionalAmount5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="AmountAndDirection106"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchdlPrd" type="Schedule11"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotionalAmount6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="AmountAndDirection106"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchdlPrd" type="Schedule11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotionalAmountLegs5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstLeg" type="NotionalAmount5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLeg" type="NotionalAmount6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotionalQuantity9">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlQty" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitOfMeasr" type="UnitOfMeasure8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dtls" type="QuantityOrTerm1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotionalQuantityLegs5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstLeg" type="NotionalQuantity9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLeg" type="NotionalQuantity9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification15Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice">
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PortfolioCode3Choice">
        <xs:choice>
            <xs:element name="Cd" type="Max52Text"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioCode5Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioIdentification3"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioIdentification3">
        <xs:sequence>
            <xs:element name="Cd" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflTxXmptn" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityOrTerm1Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SchdlPrd" type="Schedule10"/>
            <xs:element name="Term" type="QuantityTerm1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="QuantityTerm1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitOfMeasr" type="UnitOfMeasure8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="Max3Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmUnit" type="Frequency19Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Schedule10">
        <xs:sequence>
            <xs:element name="Qty" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitOfMeasr" type="UnitOfMeasure8Choice"/>
            <xs:element name="UadjstdFctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UadjstdEndDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Schedule11">
        <xs:sequence>
            <xs:element name="UadjstdFctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UadjstdEndDt" type="ISODate"/>
            <xs:element name="Amt" type="AmountAndDirection106"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatisticsPerCounterparty16Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="Rpt" type="DetailedStatisticsPerCounterparty17"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionIdentification24">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActnTp" type="TransactionOperationType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgTmStmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivEvtTp" type="DerivativeEventType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivEvtTmStmp" type="DateAndDateTime2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCtrPty" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqIdr" type="UniqueTransactionIdentifier2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollPrtflCd" type="CollateralPortfolioCode5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="EROR"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="POSC"/>
            <xs:enumeration value="REVI"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="VALU"/>
            <xs:enumeration value="MARU"/>
            <xs:enumeration value="PRTO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UTIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18}[0-9]{2}[A-Z0-9]{0,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier2Choice">
        <xs:choice>
            <xs:element name="UnqTxIdr" type="UTIIdentifier"/>
            <xs:element name="Prtry" type="GenericIdentification175"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnitOfMeasure8Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalUnitOfMeasure1Code"/>
            <xs:element name="Prtry" type="GenericIdentification175"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
