auth/src/main/xsd/auth/auth.090.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.22) on 2023 Aug 28 16:30:51, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.090.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.090.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd19DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="25"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd19DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd19DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd20DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="20"/>
            <xs:totalDigits value="25"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd20DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd20DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreementType2Choice">
        <xs:choice>
            <xs:element name="Tp" type="ExternalAgreementType1Code"/>
            <xs:element name="Prtry" type="Max50Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityDairy2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType20Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityForestry2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType21Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityGrain3">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType30Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityLiveStock2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType22Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityOilSeed2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityOliveOil3">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType29Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityOther2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityPotato2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType45Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommoditySeafood2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType23Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommoditySoft2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AssetClassCommodity6Choice">
        <xs:choice>
            <xs:element name="Agrcltrl" type="AssetClassCommodityAgricultural6Choice"/>
            <xs:element name="Nrgy" type="AssetClassCommodityEnergy3Choice"/>
            <xs:element name="Envttl" type="AssetClassCommodityEnvironmental3Choice"/>
            <xs:element name="Frtlzr" type="AssetClassCommodityFertilizer4Choice"/>
            <xs:element name="Frght" type="AssetClassCommodityFreight4Choice"/>
            <xs:element name="Indx" type="AssetClassCommodityIndex1"/>
            <xs:element name="IndstrlPdct" type="AssetClassCommodityIndustrialProduct2Choice"/>
            <xs:element name="Infltn" type="AssetClassCommodityInflation1"/>
            <xs:element name="Metl" type="AssetClassCommodityMetal2Choice"/>
            <xs:element name="MultiCmmdtyExtc" type="AssetClassCommodityMultiCommodityExotic1"/>
            <xs:element name="OffclEcnmcSttstcs" type="AssetClassCommodityOfficialEconomicStatistics1"/>
            <xs:element name="Othr" type="AssetClassCommodityOther1"/>
            <xs:element name="OthrC10" type="AssetClassCommodityC10Other1"/>
            <xs:element name="Ppr" type="AssetClassCommodityPaper4Choice"/>
            <xs:element name="Plprpln" type="AssetClassCommodityPolypropylene4Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityAgricultural6Choice">
        <xs:choice>
            <xs:element name="GrnOilSeed" type="AgriculturalCommodityOilSeed2"/>
            <xs:element name="Soft" type="AgriculturalCommoditySoft2"/>
            <xs:element name="Ptt" type="AgriculturalCommodityPotato2"/>
            <xs:element name="OlvOil" type="AgriculturalCommodityOliveOil3"/>
            <xs:element name="Dairy" type="AgriculturalCommodityDairy2"/>
            <xs:element name="Frstry" type="AgriculturalCommodityForestry2"/>
            <xs:element name="Sfd" type="AgriculturalCommoditySeafood2"/>
            <xs:element name="LiveStock" type="AgriculturalCommodityLiveStock2"/>
            <xs:element name="Grn" type="AgriculturalCommodityGrain3"/>
            <xs:element name="Othr" type="AgriculturalCommodityOther2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityC10Other1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityEnergy3Choice">
        <xs:choice>
            <xs:element name="Elctrcty" type="EnergyCommodityElectricity2"/>
            <xs:element name="NtrlGas" type="EnergyCommodityNaturalGas3"/>
            <xs:element name="Oil" type="EnergyCommodityOil3"/>
            <xs:element name="Coal" type="EnergyCommodityCoal2"/>
            <xs:element name="IntrNrgy" type="EnergyCommodityInterEnergy2"/>
            <xs:element name="RnwblNrgy" type="EnergyCommodityRenewableEnergy2"/>
            <xs:element name="LghtEnd" type="EnergyCommodityLightEnd2"/>
            <xs:element name="Dstllts" type="EnergyCommodityDistillates2"/>
            <xs:element name="Othr" type="EnergyCommodityOther2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityEnvironmental3Choice">
        <xs:choice>
            <xs:element name="Emssns" type="EnvironmentalCommodityEmission3"/>
            <xs:element name="Wthr" type="EnvironmentalCommodityWeather2"/>
            <xs:element name="CrbnRltd" type="EnvironmentalCommodityCarbonRelated2"/>
            <xs:element name="Othr" type="EnvironmentCommodityOther2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityFertilizer4Choice">
        <xs:choice>
            <xs:element name="Ammn" type="FertilizerCommodityAmmonia2"/>
            <xs:element name="DmmnmPhspht" type="FertilizerCommodityDiammoniumPhosphate2"/>
            <xs:element name="Ptsh" type="FertilizerCommodityPotash2"/>
            <xs:element name="Slphr" type="FertilizerCommoditySulphur2"/>
            <xs:element name="Urea" type="FertilizerCommodityUrea2"/>
            <xs:element name="UreaAndAmmnmNtrt" type="FertilizerCommodityUreaAndAmmoniumNitrate2"/>
            <xs:element name="Othr" type="FertilizerCommodityOther2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityFreight4Choice">
        <xs:choice>
            <xs:element name="Dry" type="FreightCommodityDry3"/>
            <xs:element name="Wet" type="FreightCommodityWet3"/>
            <xs:element name="CntnrShip" type="FreightCommodityContainerShip2"/>
            <xs:element name="Othr" type="FreightCommodityOther2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityIndex1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType16Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityIndustrialProduct2Choice">
        <xs:choice>
            <xs:element name="Cnstrctn" type="IndustrialProductCommodityConstruction2"/>
            <xs:element name="Manfctg" type="IndustrialProductCommodityManufacturing2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityInflation1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType12Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityMetal2Choice">
        <xs:choice>
            <xs:element name="NonPrcs" type="MetalCommodityNonPrecious2"/>
            <xs:element name="Prcs" type="MetalCommodityPrecious2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityMultiCommodityExotic1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType13Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityOfficialEconomicStatistics1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType14Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType15Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityPaper4Choice">
        <xs:choice>
            <xs:element name="CntnrBrd" type="PaperCommodityContainerBoard2"/>
            <xs:element name="Nwsprnt" type="PaperCommodityNewsprint2"/>
            <xs:element name="Pulp" type="PaperCommodityPulp2"/>
            <xs:element name="RcvrdPpr" type="PaperCommodityOther1"/>
            <xs:element name="Othr" type="PaperCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityPolypropylene4Choice">
        <xs:choice>
            <xs:element name="Plstc" type="PolypropyleneCommodityPlastic2"/>
            <xs:element name="Othr" type="PolypropyleneCommodityOther2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AssetClassDetailedSubProductType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALUM"/>
            <xs:enumeration value="ALUA"/>
            <xs:enumeration value="CBLT"/>
            <xs:enumeration value="COPR"/>
            <xs:enumeration value="IRON"/>
            <xs:enumeration value="MOLY"/>
            <xs:enumeration value="NASC"/>
            <xs:enumeration value="NICK"/>
            <xs:enumeration value="STEL"/>
            <xs:enumeration value="TINN"/>
            <xs:enumeration value="ZINC"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="LEAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GOLD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PLDM"/>
            <xs:enumeration value="PTNM"/>
            <xs:enumeration value="SLVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FWHT"/>
            <xs:enumeration value="SOYB"/>
            <xs:enumeration value="RPSD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CORN"/>
            <xs:enumeration value="RICE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LAMP"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ROBU"/>
            <xs:enumeration value="CCOA"/>
            <xs:enumeration value="BRWN"/>
            <xs:enumeration value="WHSG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MWHT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType31Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GASP"/>
            <xs:enumeration value="LNGG"/>
            <xs:enumeration value="NCGG"/>
            <xs:enumeration value="TTFG"/>
            <xs:enumeration value="NBPG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BAKK"/>
            <xs:enumeration value="BDSL"/>
            <xs:enumeration value="BRNT"/>
            <xs:enumeration value="BRNX"/>
            <xs:enumeration value="CNDA"/>
            <xs:enumeration value="COND"/>
            <xs:enumeration value="DSEL"/>
            <xs:enumeration value="DUBA"/>
            <xs:enumeration value="ESPO"/>
            <xs:enumeration value="ETHA"/>
            <xs:enumeration value="FUEL"/>
            <xs:enumeration value="FOIL"/>
            <xs:enumeration value="GOIL"/>
            <xs:enumeration value="GSLN"/>
            <xs:enumeration value="HEAT"/>
            <xs:enumeration value="JTFL"/>
            <xs:enumeration value="KERO"/>
            <xs:enumeration value="LLSO"/>
            <xs:enumeration value="MARS"/>
            <xs:enumeration value="NAPH"/>
            <xs:enumeration value="NGLO"/>
            <xs:enumeration value="TAPI"/>
            <xs:enumeration value="WTIO"/>
            <xs:enumeration value="URAL"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType33Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DBCR"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType34Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TNKR"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSLD"/>
            <xs:enumeration value="FITR"/>
            <xs:enumeration value="PKLD"/>
            <xs:enumeration value="OFFP"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CERE"/>
            <xs:enumeration value="ERUE"/>
            <xs:enumeration value="EUAE"/>
            <xs:enumeration value="EUAA"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INFL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MCEX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OEST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGRI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NRGY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRTL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="METL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POLY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPRM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIRY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType21Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType22Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LSTK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType23Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SEAF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType24Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType25Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType26Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType27Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LGHT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType28Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RNNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRBR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType31Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRYF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WETF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType33Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType34Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MFTG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType35Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType36Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType37Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PULP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType39Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMMO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OOLI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType40Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType41Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PTSH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType42Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType43Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UREA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType44Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UAAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType45Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POTA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType46Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType49Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NGAS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OILP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BasketConstituents3">
        <xs:sequence>
            <xs:element name="InstrmId" type="InstrumentIdentification6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="LongFraction19DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitOfMeasr" type="UnitOfMeasure8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralPortfolioCode5Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioCode3Choice"/>
            <xs:element name="MrgnPrtflCd" type="MarginPortfolio3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLCL"/>
            <xs:enumeration value="OWCL"/>
            <xs:enumeration value="OWC1"/>
            <xs:enumeration value="OWC2"/>
            <xs:enumeration value="OWP1"/>
            <xs:enumeration value="OWP2"/>
            <xs:enumeration value="PRCL"/>
            <xs:enumeration value="PRC1"/>
            <xs:enumeration value="PRC2"/>
            <xs:enumeration value="UNCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Counterparty45">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCpcty" type="TradingCapacity7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctnOrSd" type="Direction4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradrLctn" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BookgLctn" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgXmptn" type="ReportingExemption1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty46">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IdTp" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgOblgtn" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyTradeNature15Choice">
        <xs:choice>
            <xs:element name="FI" type="FinancialInstitutionSector1"/>
            <xs:element name="NFI" type="NonFinancialInstitutionSector10"/>
            <xs:element name="CntrlCntrPty" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountrySubDivisionCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}\-[0-9A-Z]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CreditDerivative7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Snrty" type="DebtInstrumentSeniorityType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPty" type="DerivativePartyIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="Frequency13Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnBsis" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Srs" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndxFctr" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrchInd" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomBasket4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Strr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cnsttnts" type="BasketConstituents3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DebtInstrumentSeniorityType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBOD"/>
            <xs:enumeration value="SNDB"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativePartyIdentification1Choice">
        <xs:choice>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="CtrySubDvsn" type="CountrySubDivisionCode"/>
            <xs:element name="LEI" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DerivativesTradePositionSetReportV02">
        <xs:sequence>
            <xs:element name="AggtdPos" type="PositionSetAggregated2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Direction2">
        <xs:sequence>
            <xs:element name="DrctnOfTheFrstLeg" type="OptionParty3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctnOfTheScndLeg" type="OptionParty3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Direction4Choice">
        <xs:choice>
            <xs:element name="Drctn" type="Direction2"/>
            <xs:element name="CtrPtySd" type="OptionParty1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradPosSetRpt" type="DerivativesTradePositionSetReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityCoal2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType24Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityDistillates2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType25Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityElectricity2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityInterEnergy2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType26Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityLightEnd2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType27Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityNaturalGas3">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType31Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityOil3">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType32Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityOther2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityRenewableEnergy2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType28Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentCommodityOther2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityCarbonRelated2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType29Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityEmission3">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType10Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType8Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityWeather2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType30Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateBasis1">
        <xs:sequence>
            <xs:element name="BaseCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeRateBasis1Choice">
        <xs:choice>
            <xs:element name="CcyPair" type="ExchangeRateBasis1"/>
            <xs:element name="Prtry" type="Max52Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExternalAgreementType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalBenchmarkCurveName1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPartyRelationshipType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalUnitOfMeasure1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FertilizerCommodityAmmonia2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType39Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityDiammoniumPhosphate2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType40Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityOther2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityPotash2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType41Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommoditySulphur2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType42Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityUrea2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType43Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityUreaAndAmmoniumNitrate2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType44Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionSector1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sctr" type="FinancialPartyClassification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshld" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FinancialInstrumentContractType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFDS"/>
            <xs:enumeration value="FRAS"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="SPDB"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialPartyClassification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="FinancialPartySectorType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification175"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FinancialPartySectorType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="CSDS"/>
            <xs:enumeration value="CCPS"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
            <xs:enumeration value="ASSU"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FreightCommodityContainerShip2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType46Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityDry3">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType31Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType33Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityOther2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityWet3">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType32Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType34Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Frequency13Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="MIAN"/>
            <xs:enumeration value="QURT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification184">
        <xs:sequence>
            <xs:element name="Id" type="Max210Text"/>
            <xs:element name="Src" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification185">
        <xs:sequence>
            <xs:element name="Id" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndexIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Indx" type="ExternalBenchmarkCurveName1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndustrialProductCommodityConstruction2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType33Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndustrialProductCommodityManufacturing2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType34Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstrumentIdentification6Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="AltrntvInstrmId" type="Max52Text"/>
            <xs:element name="UnqPdctIdr" type="UniqueProductIdentifier1Choice"/>
            <xs:element name="OthrId" type="GenericIdentification184"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LongFraction19DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="19"/>
            <xs:totalDigits value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarginCollateralReport4">
        <xs:sequence>
            <xs:element name="CollPrtflCd" type="CollateralPortfolioCode5Choice"/>
            <xs:element name="CollstnCtgy" type="CollateralisationType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginPortfolio3">
        <xs:sequence>
            <xs:element name="InitlMrgnPrtflCd" type="PortfolioCode5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPrtflCd" type="PortfolioCode5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MasterAgreement8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="AgreementType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMstrAgrmtDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MaturityTerm2">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MetalCommodityNonPrecious2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType15Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType10Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MetalCommodityPrecious2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType16Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSubPdct" type="AssetClassDetailedSubProductType11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="NaturalPersonIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonFinancialInstitutionSector10">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sctr" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshld" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctlyLkdActvty" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FdrlInstn" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotApplicable1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NotionalAmount7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AmtInFct" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WghtdAvrgDlta" type="LongFraction19DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NotionalAmountLegs6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstLeg" type="NotionalAmount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndLeg" type="NotionalAmount7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL"/>
            <xs:enumeration value="PUTO"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification15Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherPayment6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTp" type="PaymentType5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtPyer" type="PartyIdentification236Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtRcvr" type="PartyIdentification236Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityContainerBoard2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType35Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityNewsprint2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType36Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityPulp2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType37Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification236Choice">
        <xs:choice>
            <xs:element name="Lgl" type="OrganisationIdentification15Choice"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice">
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PaymentType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UFRO"/>
            <xs:enumeration value="UWIN"/>
            <xs:enumeration value="PEXH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentType5Choice">
        <xs:choice>
            <xs:element name="Tp" type="PaymentType4Code"/>
            <xs:element name="PrtryTp" type="Max4AlphaNumericText"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PolypropyleneCommodityOther2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PolypropyleneCommodityPlastic2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType18Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PortfolioCode3Choice">
        <xs:choice>
            <xs:element name="Cd" type="Max52Text"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioCode5Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioIdentification3"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioIdentification3">
        <xs:sequence>
            <xs:element name="Cd" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflTxXmptn" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSet21">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetDimensions16"/>
            <xs:element name="Mtrcs" type="PositionSetMetrics14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSet22">
        <xs:sequence>
            <xs:element name="Dmnsns" type="PositionSetCollateralDimensions3"/>
            <xs:element name="Mtrcs" type="PositionSetCollateralMetrics2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetAggregated2Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element name="Rpt" type="PositionSetAggregated4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PositionSetAggregated4">
        <xs:sequence>
            <xs:element name="RefDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PosSet" type="PositionSet21"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CcyPosSet" type="PositionSet21"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CollPosSet" type="PositionSet22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CcyCollPosSet" type="PositionSet22"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetBuyerAndSeller2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Buyr" type="PositionSetTotal2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sellr" type="PositionSetTotal2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetCollateralDimensions3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyId" type="TradeCounterpartyReport20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Coll" type="MarginCollateralReport4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstdCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvdCcy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetCollateralMetrics2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ttl" type="PositionSetCollateralTotal2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clean" type="PositionSetCollateralTotal2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetCollateralTotal2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfRpts" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstdMrgnOrColl" type="PostedMarginOrCollateral6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvdMrgnOrColl" type="ReceivedMarginOrCollateral6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetDimensions16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyId" type="TradeCounterpartyReport20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Coll" type="MarginCollateralReport4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctTp" type="FinancialInstrumentContractType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstClss" type="ProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygInstrm" type="SecurityIdentification41Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtnlCcyScndLeg" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmCcyScndLeg" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clrd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntraGrp" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgRateBsis" type="ExchangeRateBasis1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmToMtrty" type="TimeToMaturity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IRSTp" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cdt" type="CreditDerivative7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmmdty" type="AssetClassCommodity6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrPmt" type="OtherPayment6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetMetrics14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ttl" type="PositionSetBuyerAndSeller2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clean" type="PositionSetBuyerAndSeller2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PositionSetTotal2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfTrds" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PostvVal" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NegVal" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntnl" type="NotionalAmountLegs6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrPmtAmt" type="ActiveOrHistoricCurrencyAnd19DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostedMarginOrCollateral6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdPreHrcut" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdPstHrcut" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdPreHrcut" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdPstHrcut" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReceivedMarginOrCollateral6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdPreHrcut" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdPstHrcut" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdPreHrcut" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdPstHrcut" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvd" type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportingExemption1">
        <xs:sequence>
            <xs:element name="Rsn" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification41Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="AltrntvInstrmId" type="Max52Text"/>
            <xs:element name="UnqPdctIdr" type="UniqueProductIdentifier2Choice"/>
            <xs:element name="Bskt" type="CustomBasket4"/>
            <xs:element name="Indx" type="IndexIdentification1"/>
            <xs:element name="Othr" type="GenericIdentification184"/>
            <xs:element name="IdNotAvlbl" type="UnderlyingIdentification1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SpecialPurpose2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLNK"/>
            <xs:enumeration value="NTAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeToMaturity1Choice">
        <xs:choice>
            <xs:element name="Prd" type="TimeToMaturityPeriod1"/>
            <xs:element name="Spcl" type="SpecialPurpose2Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TimeToMaturityPeriod1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Start" type="MaturityTerm2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="End" type="MaturityTerm2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyRelationship1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPartyRelationshipType1Code"/>
            <xs:element name="Prtry" type="Max100Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyRelationshipRecord1">
        <xs:sequence>
            <xs:element name="StartRltshPty" type="TradeCounterpartyType1Code"/>
            <xs:element name="EndRltshPty" type="TradeCounterpartyType1Code"/>
            <xs:element name="RltshTp" type="TradeCounterpartyRelationship1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyReport20">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty45"/>
            <xs:element name="OthrCtrPty" type="Counterparty46"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="2" minOccurs="0" name="Bnfcry" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="2" minOccurs="0" name="ExctnAgt" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltshRcrd" type="TradeCounterpartyRelationshipRecord1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeCounterpartyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BENE"/>
            <xs:enumeration value="BROK"/>
            <xs:enumeration value="CLEM"/>
            <xs:enumeration value="EXEA"/>
            <xs:enumeration value="OTHC"/>
            <xs:enumeration value="REPC"/>
            <xs:enumeration value="SBMA"/>
            <xs:enumeration value="ERFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingCapacity7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UnderlyingIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="BSKT"/>
            <xs:enumeration value="INDX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueProductIdentifier1Choice">
        <xs:choice>
            <xs:element name="Id" type="Max52Text"/>
            <xs:element name="Prtry" type="GenericIdentification175"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UniqueProductIdentifier2Choice">
        <xs:choice>
            <xs:element name="Id" type="Max52Text"/>
            <xs:element name="Prtry" type="GenericIdentification185"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnitOfMeasure8Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalUnitOfMeasure1Code"/>
            <xs:element name="Prtry" type="GenericIdentification175"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
