auth/src/main/xsd/auth/auth.112.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2024 Feb 29 14:10:19, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.112.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.112.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd24Amount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="24"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd24Amount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd24Amount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FXCR"/>
            <xs:enumeration value="FXEM"/>
            <xs:enumeration value="FXMJ"/>
            <xs:enumeration value="FUEL"/>
            <xs:enumeration value="FOIL"/>
            <xs:enumeration value="GOIL"/>
            <xs:enumeration value="GSLN"/>
            <xs:enumeration value="GASP"/>
            <xs:enumeration value="HEAT"/>
            <xs:enumeration value="IRON"/>
            <xs:enumeration value="JTFL"/>
            <xs:enumeration value="KERO"/>
            <xs:enumeration value="LAMP"/>
            <xs:enumeration value="LEAD"/>
            <xs:enumeration value="LLSO"/>
            <xs:enumeration value="LNGG"/>
            <xs:enumeration value="CORN"/>
            <xs:enumeration value="MARS"/>
            <xs:enumeration value="MWHT"/>
            <xs:enumeration value="MOLY"/>
            <xs:enumeration value="NAPH"/>
            <xs:enumeration value="NBPG"/>
            <xs:enumeration value="NASC"/>
            <xs:enumeration value="NCGG"/>
            <xs:enumeration value="NGLO"/>
            <xs:enumeration value="NICK"/>
            <xs:enumeration value="OFFP"/>
            <xs:enumeration value="ALUM"/>
            <xs:enumeration value="ALUA"/>
            <xs:enumeration value="BAKK"/>
            <xs:enumeration value="BSLD"/>
            <xs:enumeration value="BDSL"/>
            <xs:enumeration value="BRNT"/>
            <xs:enumeration value="BRNX"/>
            <xs:enumeration value="CNDA"/>
            <xs:enumeration value="CERE"/>
            <xs:enumeration value="CBLT"/>
            <xs:enumeration value="CCOA"/>
            <xs:enumeration value="COND"/>
            <xs:enumeration value="CSHP"/>
            <xs:enumeration value="COPR"/>
            <xs:enumeration value="DSEL"/>
            <xs:enumeration value="DBCR"/>
            <xs:enumeration value="DUBA"/>
            <xs:enumeration value="ERUE"/>
            <xs:enumeration value="ESPO"/>
            <xs:enumeration value="ETHA"/>
            <xs:enumeration value="EUAE"/>
            <xs:enumeration value="EUAA"/>
            <xs:enumeration value="FWHT"/>
            <xs:enumeration value="FITR"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PLDM"/>
            <xs:enumeration value="PKLD"/>
            <xs:enumeration value="PTNM"/>
            <xs:enumeration value="POTA"/>
            <xs:enumeration value="RPSD"/>
            <xs:enumeration value="BRWN"/>
            <xs:enumeration value="RICE"/>
            <xs:enumeration value="ROBU"/>
            <xs:enumeration value="SLVR"/>
            <xs:enumeration value="SOYB"/>
            <xs:enumeration value="STEL"/>
            <xs:enumeration value="TNKR"/>
            <xs:enumeration value="TAPI"/>
            <xs:enumeration value="TINN"/>
            <xs:enumeration value="TTFG"/>
            <xs:enumeration value="URAL"/>
            <xs:enumeration value="WHSG"/>
            <xs:enumeration value="WTIO"/>
            <xs:enumeration value="ZINC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AssetClassDetailedSubProductType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="AssetClassDetailedSubProductType16Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetHolding3">
        <xs:sequence>
            <xs:element name="PstHrcutVal" type="ActiveCurrencyAnd24Amount"/>
            <xs:element name="AsstTp" type="AssetHolding3Choice"/>
            <xs:element name="CollRqrmnt" type="CollateralAccountType3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetHolding3Choice">
        <xs:choice>
            <xs:element name="Gold" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Trpty" type="TripartyCollateralAndAmount1"/>
            <xs:element name="Csh" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Scty" type="SecurityIdentificationAndAmount1"/>
            <xs:element name="Grnt" type="Guarantee1"/>
            <xs:element name="Cmmdty" type="Commodity2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CCPInteroperabilityReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="IntrprbltyCCP" type="InteroperabilityCCP1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralAccountType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGIN"/>
            <xs:enumeration value="DFLT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralType22Choice">
        <xs:choice>
            <xs:element name="GnlColl" type="GeneralCollateral4"/>
            <xs:element name="SpcfcColl" type="SpecificCollateral3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Commodity2">
        <xs:sequence>
            <xs:element name="MktVal" type="ActiveCurrencyAnd24Amount"/>
            <xs:element name="CmmdtyTp" type="AssetClassDetailedSubProductType1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CCPIntrprbltyRpt" type="CCPInteroperabilityReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument104">
        <xs:sequence>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element name="Issr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralCollateral4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmId" type="FinancialInstrument104"/>
            <xs:element name="MktVal" type="ActiveCurrencyAnd24Amount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification168">
        <xs:sequence>
            <xs:element name="Id" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Guarantee1">
        <xs:sequence>
            <xs:element name="Prvdr" type="PartyIdentification118Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InteroperabilityCCP1">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification168"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TtlInitlMrgn" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrdsClrd" type="NonNegativeNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="GrssNtnlAmt" type="ActiveCurrencyAnd24Amount"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AsstHldg" type="AssetHolding3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonNegativeNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification118Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Prtry" type="GenericIdentification168"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SVGN"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentificationAndAmount1">
        <xs:sequence>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element name="MktVal" type="ActiveCurrencyAnd24Amount"/>
            <xs:element name="FinInstrmTp" type="ProductType7Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecificCollateral3">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="FinancialInstrument104"/>
            <xs:element name="MktVal" type="ActiveCurrencyAnd24Amount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TripartyCollateralAndAmount1">
        <xs:sequence>
            <xs:element name="Trpty" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CollTp" type="CollateralType22Choice"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
