auth/src/main/xsd/auth/auth.113.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R2.1.2) on 2023 Sep 20 17:39:06, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.113.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.113.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection53">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection61">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AuctionData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPhs" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndctvAuctnPric" type="SecuritiesTransactionPrice21Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IndctvAuctnVol" type="FinancialInstrumentQuantity25Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancelOrderReport1">
        <xs:sequence>
            <xs:element name="RptId" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="OrdrBookRpt" type="OrderBookReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExecutingParty2Choice">
        <xs:choice>
            <xs:element name="Prsn" type="GenericPersonIdentification1"/>
            <xs:element name="Algo" type="Max50Text"/>
            <xs:element name="Clnt" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrument99Choice">
        <xs:choice>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="2" name="StrtgyInstrms" type="ISINOct2015Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity25Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="NmnlVal" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="MntryVal" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MinimumExecutable1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sz" type="FinancialInstrumentQuantity25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstExctnOnly" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NewOrderReport2">
        <xs:sequence>
            <xs:element name="RptId" type="Max140Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Ordr" type="OrderData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderBookReportV01">
        <xs:sequence>
            <xs:element name="RptHdr" type="SecuritiesMarketReportHeader3"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OrdrRpt" type="OrderReport2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderClassification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrTp" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrTpClssfctn" type="OrderType3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderData3">
        <xs:sequence>
            <xs:element name="OrdrIdData" type="OrderIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AuctnData" type="AuctionData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrData" type="OrderData4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgNtty" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctElctrncAccs" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntId" type="PersonOrOrganisation4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtDcsnPrsn" type="ExecutingParty2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgPrsn" type="ExecutingParty2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NonExctgBrkr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCpcty" type="RegulatoryTradingCapacity1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LqdtyPrvsnActvty" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrClssfctn" type="OrderClassification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrPrics" type="OrderPriceData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrData" type="OrderInstructionData2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxData" type="TransactionData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderEventType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="OrderEventType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OrderEventType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAME"/>
            <xs:enumeration value="CAMO"/>
            <xs:enumeration value="CHME"/>
            <xs:enumeration value="CHMO"/>
            <xs:enumeration value="EXPI"/>
            <xs:enumeration value="FILL"/>
            <xs:enumeration value="NEWO"/>
            <xs:enumeration value="PARF"/>
            <xs:enumeration value="REMA"/>
            <xs:enumeration value="REMO"/>
            <xs:enumeration value="REMH"/>
            <xs:enumeration value="REME"/>
            <xs:enumeration value="TRIG"/>
            <xs:enumeration value="RFQS"/>
            <xs:enumeration value="RFQR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrderIdentification2">
        <xs:sequence>
            <xs:element name="OrdrBookId" type="Max35Text"/>
            <xs:element name="SeqNb" type="PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="OrderPriority1"/>
            <xs:element name="TmStmp" type="ISODateTime"/>
            <xs:element name="TradVn" type="MICIdentifier"/>
            <xs:element name="FinInstrm" type="FinancialInstrument99Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrId" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfRct" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyPrd" type="ValidityPeriod1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OrdrRstrctn" type="OrderRestriction1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTp" type="OrderEventType1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderInstructionData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BuySellInd" type="Side6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrVldtySts" type="OrderStatus10Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OrdrSts" type="OrderStatus11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlQty" type="FinancialInstrumentQuantity25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngQty" type="FinancialInstrumentQuantity25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DispdQty" type="FinancialInstrumentQuantity25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinAccptblQty" type="FinancialInstrumentQuantity25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinExctbl" type="MinimumExecutable1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PssvOnlyInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SlfExctnPrvntn" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RtgStrtgy" type="Max50Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderPriceData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LmtPric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StopPric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlLmtPric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PggdPric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyScndLeg" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderPriority1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TmStmp" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sz" type="PositiveNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderReport2Choice">
        <xs:choice>
            <xs:element name="New" type="NewOrderReport2"/>
            <xs:element name="Cxl" type="CancelOrderReport1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrderRestriction1Choice">
        <xs:choice>
            <xs:element name="OrdrRstrctnCd" type="OrderRestrictionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="OrderRestrictionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SESR"/>
            <xs:enumeration value="VFAR"/>
            <xs:enumeration value="VFCR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrderStatus10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTI"/>
            <xs:enumeration value="INAC"/>
            <xs:enumeration value="SUSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrderStatus11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIRM"/>
            <xs:enumeration value="IMPL"/>
            <xs:enumeration value="INDI"/>
            <xs:enumeration value="ROUT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrderType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LMTO"/>
            <xs:enumeration value="STOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyExceptionType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGGR"/>
            <xs:enumeration value="PNAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PassiveOrAgressiveType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGRE"/>
            <xs:enumeration value="PASV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period11Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrToDt" type="Period2"/>
            <xs:element name="FrToDtTm" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonOrOrganisation4Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Prsn" type="GenericPersonIdentification1"/>
            <xs:element name="XcptnId" type="PartyExceptionType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PriceStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PNDG"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RegulatoryTradingCapacity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MTCH"/>
            <xs:enumeration value="DEAL"/>
            <xs:enumeration value="AOTC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesMarketReportHeader3">
        <xs:sequence>
            <xs:element name="RptgNtty" type="TradingVenueIdentification1Choice"/>
            <xs:element name="RptgPrd" type="Period11Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbRcrds" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice1">
        <xs:sequence>
            <xs:element name="Pdg" type="PriceStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice21Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection53"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="BsisPts" type="DecimalNumber"/>
            <xs:element name="NmnlVal" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice2Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection61"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="BsisPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice4Choice">
        <xs:choice>
            <xs:element name="Pric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element name="NoPric" type="SecuritiesTransactionPrice1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Side6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI"/>
            <xs:enumeration value="SELL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingVenue2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPA"/>
            <xs:enumeration value="CTPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingVenueIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdCd" type="MICIdentifier"/>
            <xs:element name="NtlCmptntAuthrty" type="CountryCode"/>
            <xs:element name="Othr" type="TradingVenueIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max50Text"/>
            <xs:element name="Tp" type="TradingVenue2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionData3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxPric" type="SecuritiesTransactionPrice4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TraddQty" type="FinancialInstrumentQuantity25Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PssvOrAggrssvInd" type="PassiveOrAgressiveType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtgyLkdOrdrId" type="Max50Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="ValidityPeriod1Choice">
        <xs:choice>
            <xs:element name="VldtyPrdCd" type="ValidityPeriodType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ValidityPeriodType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FOKV"/>
            <xs:enumeration value="GADV"/>
            <xs:enumeration value="GASV"/>
            <xs:enumeration value="GATV"/>
            <xs:enumeration value="DAVY"/>
            <xs:enumeration value="GTCV"/>
            <xs:enumeration value="GTDV"/>
            <xs:enumeration value="GTSV"/>
            <xs:enumeration value="GTTV"/>
            <xs:enumeration value="IOCV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
