modules/reda/src/main/xsd/reda/reda.065.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.22) on 2023 Apr 05 11:30:17, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:reda.065.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:reda.065.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CalendarData1">
        <xs:sequence>
            <xs:element name="SysDt" type="ISODate"/>
            <xs:element name="SysSts" type="SystemStatus3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CalendarOrBusinessError1Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="CalData" type="CalendarData1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CalendarReport1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Svc" type="SystemAndCurrency1"/>
            <xs:element name="CalOrErr" type="CalendarOrBusinessError1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CalendarReportOrError1Choice">
        <xs:choice>
            <xs:element name="CalRpt" type="CalendarReport1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CalendarReportV02">
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader11"/>
            <xs:element name="RptOrErr" type="CalendarReportOrError1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CalRpt" type="CalendarReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ErrorHandling1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X020"/>
            <xs:enumeration value="X030"/>
            <xs:enumeration value="X050"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorHandling2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ErrorHandling1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling4">
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalEnquiryRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPaymentControlRequestType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalMarketInfrastructure1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader11">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType4Choice">
        <xs:choice>
            <xs:element name="PmtCtrl" type="ExternalPaymentControlRequestType1Code"/>
            <xs:element name="Enqry" type="ExternalEnquiryRequestType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemAndCurrency1">
        <xs:sequence>
            <xs:element name="SysId" type="SystemIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SysCcy" type="ActiveCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemIdentification2Choice">
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemStatus3Choice">
        <xs:choice>
            <xs:element name="Cd" type="SystemStatus3Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SystemStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="CLSD"/>
            <xs:enumeration value="RMPS"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
