modules/auth/src/main/xsd/auth/auth.045.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.16) on 2021 May 14 18:26:02, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.045.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.045.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AssetClassAndSubClassIdentification2">
        <xs:sequence>
            <xs:element name="AsstClss" type="NonEquityAssetClass1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivSubClss" type="NonEquitySubClass1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmClssfctn" type="NonEquityInstrumentReportingClassification1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FinInstrmRptgNonEqtyTradgActvtyRslt" type="FinancialInstrumentReportingNonEquityTradingActivityResultV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentReportingNonEquityTradingActivityResultV03">
        <xs:sequence>
            <xs:element name="RptHdr" type="SecuritiesMarketReportHeader1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NonEqtyTrnsprncyData" type="TransparencyDataReport20"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InstrumentAndSubClassIdentification2">
        <xs:sequence>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivSubClss" type="NonEquitySubClass1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmClssfctn" type="NonEquityInstrumentReportingClassification1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstrumentOrSubClassIdentification2Choice">
        <xs:choice>
            <xs:element name="ISINAndSubClss" type="InstrumentAndSubClassIdentification2"/>
            <xs:element name="AsstClssAndSubClss" type="AssetClassAndSubClassIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonEquityAssetClass1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SDRV"/>
            <xs:enumeration value="IRDV"/>
            <xs:enumeration value="FEXD"/>
            <xs:enumeration value="EQDV"/>
            <xs:enumeration value="EADV"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="CRDV"/>
            <xs:enumeration value="CFDS"/>
            <xs:enumeration value="COMD"/>
            <xs:enumeration value="C10D"/>
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="ETCS"/>
            <xs:enumeration value="ETNS"/>
            <xs:enumeration value="SFPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonEquityInstrumentReportingClassification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SFPS"/>
            <xs:enumeration value="SDRV"/>
            <xs:enumeration value="DERV"/>
            <xs:enumeration value="EMAL"/>
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="ETCS"/>
            <xs:enumeration value="ETNS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonEquitySubClass1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max1000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SgmttnCrit" type="NonEquitySubClassSegmentationCriterion1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NonEquitySubClassSegmentationCriteria1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCL"/>
            <xs:enumeration value="BSPD"/>
            <xs:enumeration value="CNC1"/>
            <xs:enumeration value="CNC2"/>
            <xs:enumeration value="NCCO"/>
            <xs:enumeration value="CTYP"/>
            <xs:enumeration value="NCCR"/>
            <xs:enumeration value="DCSL"/>
            <xs:enumeration value="DTYP"/>
            <xs:enumeration value="EQUT"/>
            <xs:enumeration value="FNC1"/>
            <xs:enumeration value="FNC2"/>
            <xs:enumeration value="FSPD"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="IRTC"/>
            <xs:enumeration value="INC1"/>
            <xs:enumeration value="INC2"/>
            <xs:enumeration value="ISIN"/>
            <xs:enumeration value="TTMO"/>
            <xs:enumeration value="PRMT"/>
            <xs:enumeration value="SSRF"/>
            <xs:enumeration value="ISPT"/>
            <xs:enumeration value="SRTC"/>
            <xs:enumeration value="SACL"/>
            <xs:enumeration value="SBPD"/>
            <xs:enumeration value="TTMS"/>
            <xs:enumeration value="NCSW"/>
            <xs:enumeration value="TTMB"/>
            <xs:enumeration value="IOUB"/>
            <xs:enumeration value="TOUB"/>
            <xs:enumeration value="UISC"/>
            <xs:enumeration value="UIDX"/>
            <xs:enumeration value="UINS"/>
            <xs:enumeration value="UIRT"/>
            <xs:enumeration value="REOU"/>
            <xs:enumeration value="UTYP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonEquitySubClassSegmentationCriterion1">
        <xs:sequence>
            <xs:element name="CritNm" type="NonEquitySubClassSegmentationCriteria1Code"/>
            <xs:element name="CritVal" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period2">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period4Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
            <xs:element name="FrDtToDt" type="Period2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesMarketReportHeader1">
        <xs:sequence>
            <xs:element name="RptgNtty" type="TradingVenueIdentification1Choice"/>
            <xs:element name="RptgPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmissnDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatisticsTransparency2">
        <xs:sequence>
            <xs:element name="TtlNbOfTxsExctd" type="Number"/>
            <xs:element name="TtlVolOfTxsExctd" type="DecimalNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TonsOrCurrency2Choice">
        <xs:choice>
            <xs:element name="Nb" type="DecimalNumber"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradingVenue2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="APPA"/>
            <xs:enumeration value="CTPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingVenueIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdCd" type="MICIdentifier"/>
            <xs:element name="NtlCmptntAuthrty" type="CountryCode"/>
            <xs:element name="Othr" type="TradingVenueIdentification2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingVenueIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="Max50Text"/>
            <xs:element name="Tp" type="TradingVenue2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransparencyDataReport20">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="Id" type="InstrumentOrSubClassIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FullNm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgPrd" type="Period4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lqdty" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PreTradLrgInScaleThrshld" type="TonsOrCurrency2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstTradLrgInScaleThrshld" type="TonsOrCurrency2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PreTradInstrmSzSpcfcThrshld" type="TonsOrCurrency2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstTradInstrmSzSpcfcThrshld" type="TonsOrCurrency2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttstcs" type="StatisticsTransparency2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
