modules/auth/src/main/xsd/auth/auth.109.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.21) on 2022 Dec 20 15:37:52, ISO 20022 version : 2013-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:auth.109.001.01"
           elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.109.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd20DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="20"/>
            <xs:totalDigits value="25"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd20DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd20DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralPortfolioCode5Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioCode3Choice"/>
            <xs:element name="MrgnPrtflCd" type="MarginPortfolio3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralisationType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLCL"/>
            <xs:enumeration value="OWCL"/>
            <xs:enumeration value="OWC1"/>
            <xs:enumeration value="OWC2"/>
            <xs:enumeration value="OWP1"/>
            <xs:enumeration value="OWP2"/>
            <xs:enumeration value="PRCL"/>
            <xs:enumeration value="PRC1"/>
            <xs:enumeration value="PRC2"/>
            <xs:enumeration value="UNCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContractModification8">
        <xs:sequence>
            <xs:element name="ActnTp" type="TransactionOperationType11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty45">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgCpcty" type="TradingCapacity7Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctnOrSd" type="Direction4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradrLctn" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BookgLctn" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgXmptn" type="ReportingExemption1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counterparty46">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IdTp" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgOblgtn" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyTradeNature15Choice">
        <xs:choice>
            <xs:element name="FI" type="FinancialInstitutionSector1"/>
            <xs:element name="NFI" type="NonFinancialInstitutionSector10"/>
            <xs:element name="CntrlCntrPty" type="NoReasonCode"/>
            <xs:element name="Othr" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativesTradeMarginDataTransactionStateReportV01">
        <xs:sequence>
            <xs:element name="RptHdr" type="TradeReportHeader4"/>
            <xs:element name="TradData" type="TradeData56Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Direction2">
        <xs:sequence>
            <xs:element name="DrctnOfTheFrstLeg" type="OptionParty3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctnOfTheScndLeg" type="OptionParty3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Direction4Choice">
        <xs:choice>
            <xs:element name="Drctn" type="Direction2"/>
            <xs:element name="CtrPtySd" type="OptionParty1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradMrgnDataTxStatRpt" type="DerivativesTradeMarginDataTransactionStateReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalPartyRelationshipType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionSector1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sctr" type="FinancialPartyClassification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshld" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialPartyClassification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="FinancialPartySectorType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification175"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FinancialPartySectorType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="CSDS"/>
            <xs:enumeration value="CCPS"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
            <xs:enumeration value="ASSU"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginCollateralReport4">
        <xs:sequence>
            <xs:element name="CollPrtflCd" type="CollateralPortfolioCode5Choice"/>
            <xs:element name="CollstnCtgy" type="CollateralisationType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginPortfolio3">
        <xs:sequence>
            <xs:element name="InitlMrgnPrtflCd" type="PortfolioCode5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPrtflCd" type="PortfolioCode5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarginReportData8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgTmStmp" type="ISODateTime"/>
            <xs:element name="CtrPtyId" type="TradeCounterpartyReport20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="UniqueTransactionIdentifier2Choice"/>
            <xs:element name="Coll" type="MarginCollateralReport4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstdMrgnOrColl" type="PostedMarginOrCollateral6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvdMrgnOrColl" type="ReceivedMarginOrCollateral6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRatgTrggrInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRatgThrshldInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctMod" type="ContractModification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TechAttrbts" type="TechnicalAttributes6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max100Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NaturalPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="NaturalPersonIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonFinancialInstitutionSector10">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sctr" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrThrshld" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DrctlyLkdActvty" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FdrlInstn" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotApplicable1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR"/>
            <xs:enumeration value="BYER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionParty3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAKE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification15Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination1">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice">
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioCode3Choice">
        <xs:choice>
            <xs:element name="Cd" type="Max52Text"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioCode5Choice">
        <xs:choice>
            <xs:element name="Prtfl" type="PortfolioIdentification3"/>
            <xs:element name="NoPrtfl" type="NotApplicable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PortfolioIdentification3">
        <xs:sequence>
            <xs:element name="Cd" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflTxXmptn" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostedMarginOrCollateral6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdPreHrcut"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnPstdPstHrcut"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdPreHrcut"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnPstdPstHrcut"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollPstd"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceivedMarginOrCollateral6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdPreHrcut"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlMrgnRcvdPstHrcut"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdPreHrcut"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VartnMrgnRcvdPstHrcut"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XcssCollRcvd"
                        type="ActiveOrHistoricCurrencyAnd20DecimalAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportPeriodActivity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportingExemption1">
        <xs:sequence>
            <xs:element name="Rsn" type="Max4Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TechnicalAttributes6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptRctTmStmp" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyRelationship1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPartyRelationshipType1Code"/>
            <xs:element name="Prtry" type="Max100Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyRelationshipRecord1">
        <xs:sequence>
            <xs:element name="StartRltshPty" type="TradeCounterpartyType1Code"/>
            <xs:element name="EndRltshPty" type="TradeCounterpartyType1Code"/>
            <xs:element name="RltshTp" type="TradeCounterpartyRelationship1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max1000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeCounterpartyReport20">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="Counterparty45"/>
            <xs:element name="OthrCtrPty" type="Counterparty46"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="2" minOccurs="0" name="Bnfcry" type="PartyIdentification248Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="2" minOccurs="0" name="ExctnAgt" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltshRcrd"
                        type="TradeCounterpartyRelationshipRecord1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeCounterpartyType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BENE"/>
            <xs:enumeration value="BROK"/>
            <xs:enumeration value="CLEM"/>
            <xs:enumeration value="EXEA"/>
            <xs:enumeration value="OTHC"/>
            <xs:enumeration value="REPC"/>
            <xs:enumeration value="SBMA"/>
            <xs:enumeration value="ERFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeData56Choice">
        <xs:choice>
            <xs:element name="DataSetActn" type="ReportPeriodActivity1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Stat" type="MarginReportData8"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeReportHeader4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptExctnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination1"/>
            <xs:element name="NbRcrds" type="Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CmptntAuthrty" type="Max100Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewTradRpstryIdr" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RptgPurp" type="Max100Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransactionOperationType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="MARU"/>
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="EROR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UTIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18}[0-9]{2}[A-Z0-9]{0,32}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UniqueTransactionIdentifier2Choice">
        <xs:choice>
            <xs:element name="UnqTxIdr" type="UTIIdentifier"/>
            <xs:element name="Prtry" type="GenericIdentification175"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
