modules/auth/src/main/xsd/auth/auth.029.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.22) on 2023 Aug 28 16:30:51, ISO 20022 version : 2013-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:auth.029.001.04"
           elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.029.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyMIC1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANYM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BasketQuery1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Strr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Idr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateSectorCriteria6">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FISctr" type="FinancialPartySectorType2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NFISctr" type="NonFinancialPartySector1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NotRptd" type="NotReported1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateOrBlankQuery2Choice">
        <xs:choice>
            <xs:element name="Rg" type="DatePeriod1"/>
            <xs:element name="NotRptd" type="NotReported1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriod1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeOrBlankQuery1Choice">
        <xs:choice>
            <xs:element name="Rg" type="DateTimePeriod1"/>
            <xs:element name="NotRptd" type="NotReported1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DayOfMonthNumber">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DerivativeEventType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALOC"/>
            <xs:enumeration value="CLRG"/>
            <xs:enumeration value="CLAL"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="CREV"/>
            <xs:enumeration value="ETRM"/>
            <xs:enumeration value="EXER"/>
            <xs:enumeration value="INCP"/>
            <xs:enumeration value="NOVA"/>
            <xs:enumeration value="PTNG"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="UPDT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DerivativesTradeReportQueryV04">
        <xs:sequence>
            <xs:element name="RqstngAuthrty" type="PartyIdentification121Choice"/>
            <xs:element name="TradQryData" type="TradeReportQuery17Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DerivsTradRptQry" type="DerivativesTradeReportQueryV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FinancialInstrumentContractType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFDS"/>
            <xs:enumeration value="FRAS"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="FORW"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="SPDB"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="SWPT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialPartySectorType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="CSDS"/>
            <xs:enumeration value="CCPS"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Frequency14Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="ADHO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification175">
        <xs:sequence>
            <xs:element name="Id" type="Max72Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ISINQueryCriteria1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Idr" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NotRptd" type="NotReported1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification15Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max25Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max72Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="72"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ModificationLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="TCTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NaturalPersonIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="NaturalPersonIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NonFinancialPartySector1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WTER"/>
            <xs:enumeration value="MING"/>
            <xs:enumeration value="MAFG"/>
            <xs:enumeration value="SPLY"/>
            <xs:enumeration value="CSTR"/>
            <xs:enumeration value="AGRI"/>
            <xs:enumeration value="ACAF"/>
            <xs:enumeration value="EDUC"/>
            <xs:enumeration value="AEAR"/>
            <xs:enumeration value="FINA"/>
            <xs:enumeration value="HHSW"/>
            <xs:enumeration value="INCO"/>
            <xs:enumeration value="WRRM"/>
            <xs:enumeration value="OTSA"/>
            <xs:enumeration value="PSTA"/>
            <xs:enumeration value="PADS"/>
            <xs:enumeration value="RESA"/>
            <xs:enumeration value="TRAS"/>
            <xs:enumeration value="ASSA"/>
            <xs:enumeration value="AHAE"/>
            <xs:enumeration value="AEOB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NotAvailable1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NTAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NotReported1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Operation3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANDD"/>
            <xs:enumeration value="ORRR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification15Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="Othr" type="OrganisationIdentification38"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification175"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dmcl" type="Max500Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification121Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="LglNttyIdr" type="LEIIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification248Choice">
        <xs:choice>
            <xs:element name="Lgl" type="LegalPersonIdentification1"/>
            <xs:element name="Ntrl" type="NaturalPersonIdentification3"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PartyNatureType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="NFIN"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="CCPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductClassificationCriteria1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClssfctnFinInstrm" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UnqPdctIdr" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="CURR"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="INTR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTradeVenueCriteria1Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MIC" type="MICIdentifier"/>
            <xs:element name="AnyMIC" type="AnyMIC1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification20Choice">
        <xs:choice>
            <xs:element name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element name="Nm" type="Max25Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentificationQuery4Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AltrntvInstrmId" type="Max52Text"/>
            <xs:element name="NotAvlbl" type="NotAvailable1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="UnqPdctIdr" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Indx" type="SecurityIdentification20Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Bskt" type="BasketQuery1"/>
            <xs:element name="NotRptd" type="NotReported1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentificationQueryCriteria1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AltrntvInstrmId" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeAdditionalQueryCriteria9">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ActnTp" type="TransactionOperationType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnVn" type="SecuritiesTradeVenueCriteria1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtrOfCtrPty" type="PartyNatureType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpSctr" type="CorporateSectorCriteria6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AsstClss" type="ProductType4Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctClssfctn" type="ProductClassificationCriteria1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lvl" type="ModificationLevel1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtTp" type="DerivativeEventType3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDateTimeQueryCriteria6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgDtTm" type="DateTimePeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnDtTm" type="DateTimePeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="DateOrBlankQuery2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="DatePeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValtnDtTm" type="DateTimePeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="XprtnDt" type="DateOrBlankQuery2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyTermntnDt" type="DatePeriod1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollTmStmp" type="DateTimeOrBlankQuery1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HstrclAsOfDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentificationQuery10Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Id" type="PartyIdentification248Choice"/>
            <xs:element name="NotRptd" type="NotReported1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentificationQuery11Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Id" type="OrganisationIdentification15Choice"/>
            <xs:element name="NotRptd" type="NotReported1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradePartyQueryCriteria7">
        <xs:sequence>
            <xs:element name="Oprtr" type="Operation3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCtrPty" type="TradePartyIdentificationQuery10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCtrPty" type="TradePartyIdentificationQuery10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bnfcry" type="TradePartyIdentificationQuery10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt"
                        type="TradePartyIdentificationQuery11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitgAgt" type="TradePartyIdentificationQuery11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="TradePartyIdentificationQuery11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CCP" type="TradePartyIdentificationQuery11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="TradePartyIdentificationQuery10Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeQueryCriteria14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TradLifeCyclHstry" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnLifeCyclHstry" type="TrueFalseIndicator"/>
            <xs:element name="OutsdngTradInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradPtyCrit" type="TradePartyQueryCriteria7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmCrit"
                        type="TradeSecurityIdentificationQueryCriteria3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TmCrit" type="TradeDateTimeQueryCriteria6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrCrit" type="TradeAdditionalQueryCriteria9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeQueryExecutionFrequency3">
        <xs:sequence>
            <xs:element name="FrqcyTp" type="Frequency14Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DlvryDay" type="WeekDay3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DayOfMnth" type="DayOfMonthNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeRecurrentQuery5">
        <xs:sequence>
            <xs:element name="QryTp" type="Max1000Text"/>
            <xs:element name="Frqcy" type="TradeQueryExecutionFrequency3"/>
            <xs:element name="VldUntil" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeReportQuery17Choice">
        <xs:choice>
            <xs:element name="AdHocQry" type="TradeQueryCriteria14"/>
            <xs:element name="RcrntQry" type="TradeRecurrentQuery5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeSecurityIdentificationQueryCriteria3">
        <xs:sequence>
            <xs:element name="Oprtr" type="Operation3Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Id" type="SecurityIdentificationQueryCriteria1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrctTp" type="FinancialInstrumentContractType2Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ISIN" type="ISINQueryCriteria1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UnqPdctIdr" type="UPIQueryCriteria1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygInstrmId"
                        type="SecurityIdentificationQuery4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionOperationType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="EROR"/>
            <xs:enumeration value="MODI"/>
            <xs:enumeration value="NEWT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="POSC"/>
            <xs:enumeration value="REVI"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="VALU"/>
            <xs:enumeration value="MARU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="UPIQueryCriteria1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Idr" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NotRptd" type="NotReported1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="WeekDay3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLD"/>
            <xs:enumeration value="XBHL"/>
            <xs:enumeration value="IBHL"/>
            <xs:enumeration value="FRID"/>
            <xs:enumeration value="MOND"/>
            <xs:enumeration value="SATD"/>
            <xs:enumeration value="SUND"/>
            <xs:enumeration value="THUD"/>
            <xs:enumeration value="TUED"/>
            <xs:enumeration value="WEDD"/>
            <xs:enumeration value="WDAY"/>
            <xs:enumeration value="WEND"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
