modules/setr/src/main/xsd/setr/setr.044.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.22) on 2023 Mar 17 13:13:36, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.044.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.044.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification55Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="BBAN" type="BBANIdentifier"/>
            <xs:element name="UPIC" type="UPICIdentifier"/>
            <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AffirmationReason2">
        <xs:sequence>
            <xs:element name="Cd" type="UnaffirmedReason3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AffirmationReason2Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AffirmationReason2"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AffirmationStatus11Choice">
        <xs:choice>
            <xs:element name="Affrmd" type="ProprietaryReason4"/>
            <xs:element name="Uaffrmd" type="AffirmationReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtrySts" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AllegementMatchingReason2">
        <xs:sequence>
            <xs:element name="Cd" type="AllegementReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AllegementReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALG1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AllegementReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="AllegementReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AlternatePartyIdentification8">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType43Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection29">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountOrRate2Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AwaitingAffirmationReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WAFF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AwaitingAffirmationReason2">
        <xs:sequence>
            <xs:element name="Cd" type="AwaitingAffirmationReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AwaitingAffirmationReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="AwaitingAffirmationReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AwaitingCancellationReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WCAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AwaitingCancellationReason2">
        <xs:sequence>
            <xs:element name="Cd" type="AwaitingCancellationReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AwaitingCancellationReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="AwaitingCancellationReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BusinessProcessType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ISUP"/>
            <xs:enumeration value="NISP"/>
            <xs:enumeration value="PRAC"/>
            <xs:enumeration value="RSAL"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="THRU"/>
            <xs:enumeration value="IDEL"/>
            <xs:enumeration value="DPLX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BusinessProcessType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="BusinessProcessType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CalculationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTX"/>
            <xs:enumeration value="ANNU"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="AVMA"/>
            <xs:enumeration value="BOOK"/>
            <xs:enumeration value="YTNC"/>
            <xs:enumeration value="CHCL"/>
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="CMPD"/>
            <xs:enumeration value="CUYI"/>
            <xs:enumeration value="TRGR"/>
            <xs:enumeration value="GVEQ"/>
            <xs:enumeration value="FLAS"/>
            <xs:enumeration value="NVFL"/>
            <xs:enumeration value="LSCL"/>
            <xs:enumeration value="LSMT"/>
            <xs:enumeration value="LSQR"/>
            <xs:enumeration value="LSYR"/>
            <xs:enumeration value="LGAL"/>
            <xs:enumeration value="MARK"/>
            <xs:enumeration value="YTMA"/>
            <xs:enumeration value="NXRF"/>
            <xs:enumeration value="PNAV"/>
            <xs:enumeration value="NXPT"/>
            <xs:enumeration value="PRCL"/>
            <xs:enumeration value="PRYL"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="SHLF"/>
            <xs:enumeration value="SPLL"/>
            <xs:enumeration value="TXQV"/>
            <xs:enumeration value="TTDT"/>
            <xs:enumeration value="TRYL"/>
            <xs:enumeration value="WRST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CallIn1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFAV"/>
            <xs:enumeration value="CFST"/>
            <xs:enumeration value="CFCC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationProcessingStatus10Choice">
        <xs:choice>
            <xs:element name="CxlPdg" type="CancellationReason39Choice"/>
            <xs:element name="CxlReqd" type="ProprietaryReason4"/>
            <xs:element name="CxlCmpltd" type="ProprietaryReason4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtrySts" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CancellationReason39Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AwaitingCancellationReason2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashAccountIdentification5Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CashMarginOrder1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="MRGO"/>
            <xs:enumeration value="MRGC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ChargeTaxBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="PERU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ChargeTaxBasisType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ChargeTaxBasis1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Commission25">
        <xs:sequence>
            <xs:element name="Tp" type="CommissionType6Choice"/>
            <xs:element name="Comssn" type="AmountOrRate2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification267"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlComssn" type="AmountAndDirection29"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlVATAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VATRate" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommissionType6Choice">
        <xs:choice>
            <xs:element name="Cd" type="CommissionType9Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CommissionType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLDI"/>
            <xs:enumeration value="STEP"/>
            <xs:enumeration value="SOFT"/>
            <xs:enumeration value="PERN"/>
            <xs:enumeration value="FLAT"/>
            <xs:enumeration value="PERU"/>
            <xs:enumeration value="PWCD"/>
            <xs:enumeration value="PWEU"/>
            <xs:enumeration value="BRKR"/>
            <xs:enumeration value="DFDP"/>
            <xs:enumeration value="PBOC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConfirmationParties9">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Invstr" type="PartyIdentificationAndAccount220"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Buyr" type="ConfirmationPartyDetails12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brrwr" type="ConfirmationPartyDetails12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sellr" type="ConfirmationPartyDetails12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lndr" type="ConfirmationPartyDetails12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrOfCdt" type="ConfirmationPartyDetails14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrdcgFirm" type="ConfirmationPartyDetails14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StepInFirm" type="ConfirmationPartyDetails11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StepOutFirm" type="ConfirmationPartyDetails11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrFirm" type="ConfirmationPartyDetails16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkr" type="ConfirmationPartyDetails16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AffrmgPty" type="ConfirmationPartyDetails14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradBnfcryPty" type="ConfirmationPartyDetails14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails11">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification240Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails12">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification240Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrCpcty" type="InvestorCapacity4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPtyCpcty" type="TradingPartyCapacity4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails14">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification240Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount35"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshDtls" type="AccountIdentification55Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCpcty" type="TradingPartyCapacity3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails16">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification240Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount35"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshDtls" type="AccountIdentification55Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCpcty" type="TradingPartyCapacity3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrPrtcnAssoctnMmbsh" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyToBuyOrSell1Choice">
        <xs:choice>
            <xs:element name="CcyToBuy" type="ActiveCurrencyCode"/>
            <xs:element name="CcyToSell" type="ActiveCurrencyCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTime1Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1">
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriod1Choice">
        <xs:choice>
            <xs:element name="FrDtTm" type="ISODateTime"/>
            <xs:element name="ToDtTm" type="ISODateTime"/>
            <xs:element name="DtTmRg" type="DateTimePeriod1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE"/>
            <xs:enumeration value="APMT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesTradConfStsAdvc" type="SecuritiesTradeConfirmationStatusAdviceV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber17Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="EUCapitalGain2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EUSI"/>
            <xs:enumeration value="EUSO"/>
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EUCapitalGainType3Choice">
        <xs:choice>
            <xs:element name="EUCptlGn" type="EUCapitalGain2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Eligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTradeTransactionCondition1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms18">
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode"/>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode"/>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element name="ConvtdAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationReference11Choice">
        <xs:choice>
            <xs:element name="InstgPtyTxId" type="Max35Text"/>
            <xs:element name="ExctgPtyTxId" type="Max35Text"/>
            <xs:element name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element name="ClntOrdrLkId" type="Max35Text"/>
            <xs:element name="PoolId" type="Max35Text"/>
            <xs:element name="BlckId" type="Max35Text"/>
            <xs:element name="AllcnId" type="Max35Text"/>
            <xs:element name="IndvAllcnId" type="Max35Text"/>
            <xs:element name="ScndryAllcnId" type="Max35Text"/>
            <xs:element name="IndxId" type="Max35Text"/>
            <xs:element name="CmonId" type="Max35Text"/>
            <xs:element name="CmplcId" type="Max35Text"/>
            <xs:element name="CxlReqId" type="Max35Text"/>
            <xs:element name="CollTxId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType43Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification2Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InstructionProcessingReason3Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason67"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InstructionProcessingReason4Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RepairReason14"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="InterestType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CINT"/>
            <xs:enumeration value="XINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestorCapacity4Choice">
        <xs:choice>
            <xs:element name="Cd" type="Eligibility1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Linkages72">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber17Choice"/>
            <xs:element name="Ref" type="IdentificationReference11Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification3Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification93">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="MarketType18Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketIdentification97">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="MarketType8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType18Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType6Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MarketType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="VARI"/>
            <xs:enumeration value="EXCH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketType8Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MatchingReason5Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AllegementMatchingReason2"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MatchingReason6Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="UnmatchedReason23"/>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MatchingStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACH"/>
            <xs:enumeration value="NMAT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MatchingStatus27Choice">
        <xs:choice>
            <xs:element name="Cd" type="MatchingStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MatchingStatus35Choice">
        <xs:choice>
            <xs:element name="Mtchd" type="ProprietaryReason4"/>
            <xs:element name="MtchdWthTlrnce" type="ProprietaryReason4"/>
            <xs:element name="MtchgAllgd" type="MatchingReason5Choice"/>
            <xs:element name="Umtchd" type="MatchingReason6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtrySts" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress13">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Order23">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BizPrcTp" type="BusinessProcessType2Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OrdrId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClntOrdrId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ScndryClntOrdrId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ListId" type="Max35Text"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element name="Sd" type="Side3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pmt" type="DeliveryReceiptType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradTxTp" type="TradeType4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TradTxCond" type="TradeTransactionCondition9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PreAdvc" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="MarketIdentification93"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrBookgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradOrgtnDt" type="ISODateTime"/>
            <xs:element name="TradDt" type="TradeDate7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="TradeDate7Choice"/>
            <xs:element name="SttlmDt" type="SettlementDate16Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NAVDt" type="DateAndDateTime1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtlFillDtls" type="PartialFill4"/>
            <xs:element name="ConfQty" type="Quantity6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown76"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GrssTradAmt" type="AmountAndDirection29"/>
            <xs:element name="DealPric" type="Price14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TpOfPric" type="TypeOfPrice47Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshMrgn" type="CashMarginOrder1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Comssn" type="Commission25"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfDaysAcrd" type="Max3Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvUpNbOfDays" type="Max3Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstTp" type="InterestType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstPctg" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradRgltryCondsTp" type="TradeRegulatoryConditions1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyToBuyOrSell" type="CurrencyToBuyOrSell1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OrdrOrgtrElgblty" type="Eligibility1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PosFct" type="PositionEffect2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivCvrd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ChrgTaxBsisTp" type="ChargeTaxBasisType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CptlGnTp" type="EUCapitalGainType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchSts" type="MatchingStatus27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CallInTp" type="CallIn1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="YldTp" type="YieldCalculation7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rptg" type="Reporting6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlPhysOrRegnDtls" type="RegistrationParameters3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTradInstrPrcgInf" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIntrstAmt" type="AmountAndDirection29"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartialFill4">
        <xs:sequence>
            <xs:element name="ConfQty" type="Quantity6Choice"/>
            <xs:element name="DealPric" type="Price14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfTrad" type="MarketIdentification97"/>
            <xs:element name="OrgnlOrdrdQty" type="QuantityOrAmount2Choice"/>
            <xs:element name="PrevslyExctdQty" type="QuantityOrAmount2Choice"/>
            <xs:element name="RmngQty" type="QuantityOrAmount2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchIncrmtQty" type="QuantityOrAmount2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification240Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification244Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress13"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification267">
        <xs:sequence>
            <xs:element name="BIC" type="AnyBICDec2014Identifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress13"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification268">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification244Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount218">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification240Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount220">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification240Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingProcessing2Choice">
        <xs:choice>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="AwaitingAffirmationReason2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositionEffect2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="CLOS"/>
            <xs:enumeration value="ROLL"/>
            <xs:enumeration value="FIFO"/>
            <xs:enumeration value="CLOA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price14">
        <xs:sequence>
            <xs:element name="Val" type="PriceRateOrAmount3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PriceValueType7Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmount3Choice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PriceValueType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="PREM"/>
            <xs:enumeration value="PARV"/>
            <xs:enumeration value="YIEL"/>
            <xs:enumeration value="SPRE"/>
            <xs:enumeration value="PEUN"/>
            <xs:enumeration value="ABSO"/>
            <xs:enumeration value="TEDP"/>
            <xs:enumeration value="TEDY"/>
            <xs:enumeration value="FICT"/>
            <xs:enumeration value="VACT"/>
            <xs:enumeration value="PRCT"/>
            <xs:enumeration value="ACTU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingStatus98Choice">
        <xs:choice>
            <xs:element name="AckdAccptd" type="ProprietaryReason4"/>
            <xs:element name="AlrdyMtchdAndAffrmd" type="ProprietaryReason4"/>
            <xs:element name="DfltActn" type="ProprietaryReason4"/>
            <xs:element name="Done" type="ProprietaryReason4"/>
            <xs:element name="ForcdRjctn" type="ProprietaryReason4"/>
            <xs:element name="FullyExctdConfSnt" type="ProprietaryReason4"/>
            <xs:element name="Futr" type="ProprietaryReason4"/>
            <xs:element name="Gnrtd" type="ProprietaryReason4"/>
            <xs:element name="InRpr" type="InstructionProcessingReason4Choice"/>
            <xs:element name="NoInstr" type="ProprietaryReason4"/>
            <xs:element name="OpnOrdr" type="ProprietaryReason4"/>
            <xs:element name="PdgPrcg" type="PendingProcessing2Choice"/>
            <xs:element name="RcvdAtIntrmy" type="ProprietaryReason4"/>
            <xs:element name="Rjctd" type="InstructionProcessingReason3Choice"/>
            <xs:element name="SttlmInstrSnt" type="ProprietaryReason4"/>
            <xs:element name="StgInstr" type="ProprietaryReason4"/>
            <xs:element name="TradgSspdByStockXchg" type="ProprietaryReason4"/>
            <xs:element name="Trtd" type="ProprietaryReason4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtrySts" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason6">
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PurposeCode9Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesAccountPurposeType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown76">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification37"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotDtTm" type="DateAndDateTime1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LotPric" type="Price14"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityOrAmount2Choice">
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RegistrationParameters3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CertfctnDtTm" type="DateAndDateTime1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegarAcct" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CertNb" type="SecuritiesCertificate3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason52Choice">
        <xs:choice>
            <xs:element name="Cd" type="RejectionReason78Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RejectionReason67">
        <xs:sequence>
            <xs:element name="Cd" type="RejectionReason52Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason78Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASTM"/>
            <xs:enumeration value="BUSE"/>
            <xs:enumeration value="CADE"/>
            <xs:enumeration value="COMC"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="FEEE"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="INNA"/>
            <xs:enumeration value="NARR"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="ODNP"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="QUNP"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="CTRA"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="REPP"/>
            <xs:enumeration value="RERT"/>
            <xs:enumeration value="RSPR"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="TNAR"/>
            <xs:enumeration value="TNIU"/>
            <xs:enumeration value="TQHI"/>
            <xs:enumeration value="TQNP"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="VASU"/>
            <xs:enumeration value="INIR"/>
            <xs:enumeration value="OPNM"/>
            <xs:enumeration value="OPTY"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="EXLI"/>
            <xs:enumeration value="INPR"/>
            <xs:enumeration value="PRIC"/>
            <xs:enumeration value="EQTY"/>
            <xs:enumeration value="SIDE"/>
            <xs:enumeration value="CADI"/>
            <xs:enumeration value="CPTY"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="DISE"/>
            <xs:enumeration value="RESU"/>
            <xs:enumeration value="XRAT"/>
            <xs:enumeration value="ACRU"/>
            <xs:enumeration value="GAMN"/>
            <xs:enumeration value="DFLT"/>
            <xs:enumeration value="FAIL"/>
            <xs:enumeration value="INDT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="ICAG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RepairReason14">
        <xs:sequence>
            <xs:element name="Cd" type="RepairReason19Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RepairReason19Choice">
        <xs:choice>
            <xs:element name="Cd" type="RepairReason7Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepairReason7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="BATC"/>
            <xs:enumeration value="BUSE"/>
            <xs:enumeration value="CADE"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CASY"/>
            <xs:enumeration value="COMC"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="FEEE"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="ICAG"/>
            <xs:enumeration value="ICUS"/>
            <xs:enumeration value="IEXE"/>
            <xs:enumeration value="IIND"/>
            <xs:enumeration value="INNA"/>
            <xs:enumeration value="LEOG"/>
            <xs:enumeration value="NARR"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="CTRA"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="REPP"/>
            <xs:enumeration value="RERT"/>
            <xs:enumeration value="RSPR"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="VASU"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReplacementProcessingStatus10Choice">
        <xs:choice>
            <xs:element name="Accptd" type="ProprietaryReason4"/>
            <xs:element name="Cmpltd" type="ProprietaryReason4"/>
            <xs:element name="Dnd" type="ProprietaryReason4"/>
            <xs:element name="InRpr" type="ProprietaryReason4"/>
            <xs:element name="PrtlRplcmntAccptd" type="ProprietaryReason4"/>
            <xs:element name="Pdg" type="ProprietaryReason4"/>
            <xs:element name="RcvdAtIntrmy" type="ProprietaryReason4"/>
            <xs:element name="RcvdAtStockXchg" type="ProprietaryReason4"/>
            <xs:element name="Rjctd" type="ProprietaryReason4"/>
            <xs:element name="ModReqd" type="ProprietaryReason4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtrySts" type="ProprietaryStatusAndReason6"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Reporting2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STEX"/>
            <xs:enumeration value="REGU"/>
            <xs:enumeration value="DEFR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Reporting6Choice">
        <xs:choice>
            <xs:element name="Cd" type="Reporting2Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount35">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PurposeCode9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesAccountPurposeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="ABRD"/>
            <xs:enumeration value="CEND"/>
            <xs:enumeration value="DVPA"/>
            <xs:enumeration value="PHYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesCertificate3">
        <xs:sequence>
            <xs:element name="Nb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTradeConfirmationStatusAdviceV03">
        <xs:sequence>
            <xs:element name="Id" type="TransactiontIdentification4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Refs" type="Linkages72"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AffirmSts" type="AffirmationStatus11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="ProcessingStatus98Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSts" type="MatchingStatus35Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RplcmntPrcgSts" type="ReplacementProcessingStatus10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlPrcgSts" type="CancellationProcessingStatus10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyTradgDtls" type="Order23"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyTradgDtls" type="Order23"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ConfPties" type="ConfirmationParties9"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties121"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties121"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate16Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime1Choice"/>
            <xs:element name="Cd" type="SettlementDateCode12Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SettlementDate5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REGU"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="NXTD"/>
            <xs:enumeration value="TONE"/>
            <xs:enumeration value="TTWO"/>
            <xs:enumeration value="TTRE"/>
            <xs:enumeration value="TFOR"/>
            <xs:enumeration value="TFIV"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="WDIS"/>
            <xs:enumeration value="WHID"/>
            <xs:enumeration value="TBAT"/>
            <xs:enumeration value="WISS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDateCode12Choice">
        <xs:choice>
            <xs:element name="Cd" type="SettlementDate5Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SettlementParties121">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification268"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount218"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount218"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount218"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount218"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount218"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Side3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="CROS"/>
            <xs:enumeration value="CRSH"/>
            <xs:enumeration value="CSHE"/>
            <xs:enumeration value="DEFI"/>
            <xs:enumeration value="OPPO"/>
            <xs:enumeration value="UNDI"/>
            <xs:enumeration value="TWOS"/>
            <xs:enumeration value="BUMI"/>
            <xs:enumeration value="SEPL"/>
            <xs:enumeration value="SESH"/>
            <xs:enumeration value="SSEX"/>
            <xs:enumeration value="LEND"/>
            <xs:enumeration value="BORW"/>
            <xs:enumeration value="OPEX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation2">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDate7Choice">
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTime1Choice"/>
            <xs:element name="Val" type="TradingDateCode2Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradeRegulatoryConditions1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOLI"/>
            <xs:enumeration value="USOL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionCondition9Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalTradeTransactionCondition1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradeType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSKT"/>
            <xs:enumeration value="INDX"/>
            <xs:enumeration value="IPOO"/>
            <xs:enumeration value="LIST"/>
            <xs:enumeration value="PRAL"/>
            <xs:enumeration value="PROG"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="BRBR"/>
            <xs:enumeration value="RISK"/>
            <xs:enumeration value="VWAP"/>
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="GUAR"/>
            <xs:enumeration value="EMTR"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="BOST"/>
            <xs:enumeration value="BOEN"/>
            <xs:enumeration value="LABO"/>
            <xs:enumeration value="BORE"/>
            <xs:enumeration value="OFIT"/>
            <xs:enumeration value="BOSU"/>
            <xs:enumeration value="FBBT"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="FUOP"/>
            <xs:enumeration value="FUTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradeType3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="CPRN"/>
            <xs:enumeration value="RISP"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="CAGN"/>
            <xs:enumeration value="OAGN"/>
            <xs:enumeration value="PRAG"/>
            <xs:enumeration value="BAGN"/>
            <xs:enumeration value="INFI"/>
            <xs:enumeration value="MKTM"/>
            <xs:enumeration value="MLTF"/>
            <xs:enumeration value="RMKT"/>
            <xs:enumeration value="SINT"/>
            <xs:enumeration value="TAGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingCapacity6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="BAGN"/>
            <xs:enumeration value="CAGN"/>
            <xs:enumeration value="CPRN"/>
            <xs:enumeration value="OAGN"/>
            <xs:enumeration value="PRAG"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingDate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingDateCode2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingDate1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingPartyCapacity3Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingCapacity6Code"/>
            <xs:element name="Prtry" type="GenericIdentification36"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingPartyCapacity4Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingCapacity4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactiontIdentification4">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AVER"/>
            <xs:enumeration value="AVOV"/>
            <xs:enumeration value="GREX"/>
            <xs:enumeration value="NET2"/>
            <xs:enumeration value="NET1"/>
            <xs:enumeration value="PARV"/>
            <xs:enumeration value="RDAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TypeOfPrice47Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice3Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnaffirmedReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NAFF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnaffirmedReason3Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnaffirmedReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason23">
        <xs:sequence>
            <xs:element name="Cd" type="UnmatchedReason32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnmatchedReason32Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnmatchedReason4Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="UnmatchedReason4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CADE"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="CMIS"/>
            <xs:enumeration value="CPCA"/>
            <xs:enumeration value="DDAT"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="DEAL"/>
            <xs:enumeration value="DELN"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="DTRD"/>
            <xs:enumeration value="EXEC"/>
            <xs:enumeration value="FORF"/>
            <xs:enumeration value="LATE"/>
            <xs:enumeration value="LEOG"/>
            <xs:enumeration value="MCAN"/>
            <xs:enumeration value="NARR"/>
            <xs:enumeration value="PHYS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="PODU"/>
            <xs:enumeration value="REPA"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="REPP"/>
            <xs:enumeration value="RERT"/>
            <xs:enumeration value="RSPR"/>
            <xs:enumeration value="RTGS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="SETS"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="TXST"/>
            <xs:enumeration value="VASU"/>
            <xs:enumeration value="POSE"/>
            <xs:enumeration value="BORT"/>
            <xs:enumeration value="COAX"/>
            <xs:enumeration value="OTHI"/>
            <xs:enumeration value="BOFE"/>
            <xs:enumeration value="TACR"/>
            <xs:enumeration value="SDAT"/>
            <xs:enumeration value="COID"/>
            <xs:enumeration value="SCRA"/>
            <xs:enumeration value="ACRU"/>
            <xs:enumeration value="SHAI"/>
            <xs:enumeration value="ACRS"/>
            <xs:enumeration value="DEAS"/>
            <xs:enumeration value="CATI"/>
            <xs:enumeration value="TACS"/>
            <xs:enumeration value="DBNM"/>
            <xs:enumeration value="MADA"/>
            <xs:enumeration value="OLID"/>
            <xs:enumeration value="TRSA"/>
            <xs:enumeration value="TRTE"/>
            <xs:enumeration value="BOIA"/>
            <xs:enumeration value="OPLI"/>
            <xs:enumeration value="TRTR"/>
            <xs:enumeration value="LWCO"/>
            <xs:enumeration value="INTT"/>
            <xs:enumeration value="CUFC"/>
            <xs:enumeration value="LTME"/>
            <xs:enumeration value="ENFC"/>
            <xs:enumeration value="CLSE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="YieldCalculation7">
        <xs:sequence>
            <xs:element name="Val" type="PercentageRate"/>
            <xs:element name="ClctnTp" type="CalculationType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RedPric" type="Price14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValPrd" type="DateTimePeriod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClctnDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
